dify/生活状态分析工作流.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 生活状态分析工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 46f07461-68a0-47d9-a8eb-7c66999960a2
    name: TOKEN
    selector:
    - env
    - TOKEN
    value: H1b67KJR9MBFQXfmO8tJ8REVa6sv1zecJr3bgmhYcXSgZVmv6bHYmyD97qy9yx20
    value_type: string
  - description: ''
    id: 1b52c087-864a-4751-b63a-7a3f72a35253
    name: express_endpoint
    selector:
    - env
    - express_endpoint
    value: http://172.17.0.1:8080
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1782300613521-source-1782300726851-target
      selected: false
      source: '1782300613521'
      sourceHandle: source
      target: '1782300726851'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1782300726851-source-1782300859641-target
      selected: false
      source: '1782300726851'
      sourceHandle: source
      target: '1782300859641'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1782300859641-source-1782301519382-target
      source: '1782300859641'
      sourceHandle: source
      target: '1782301519382'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1782301519382-true-1782301567842-target
      source: '1782301519382'
      sourceHandle: 'true'
      target: '1782301567842'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1782301519382-false-1782302059199-target
      source: '1782301519382'
      sourceHandle: 'false'
      target: '1782302059199'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1782301567842-source-1782302160390-target
      source: '1782301567842'
      sourceHandle: source
      target: '1782302160390'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1782302059199-source-1782302160390-target
      source: '1782302059199'
      sourceHandle: source
      target: '1782302160390'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: code
      id: 1782302160390-source-1782302258208-target
      source: '1782302160390'
      sourceHandle: source
      target: '1782302258208'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1782302258208-source-1782302385498-target
      source: '1782302258208'
      sourceHandle: source
      target: '1782302385498'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
        - default: ''
          hint: ''
          label: period_start
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: period_start
        - default: ''
          hint: ''
          label: period_end
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: period_end
      height: 160
      id: '1782300613521'
      position:
        x: 105
        y: 265
      positionAbsolute:
        x: 105
        y: 265
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: INTERNAL_SERVICE_TOKEN
            header: X-Internal-Token
            type: custom
          type: api-key
        body:
          data: []
          type: none
        headers: X-Internal-Token:{{#env.TOKEN#}}
        method: get
        params: 'period_start:{{#1782300613521.period_start#}}

          period_end:{{#1782300613521.period_end#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: '{{#env.express_endpoint#}}/internal/dify/users{{#1782300613521.user_id#}}/checkins/summary?period_start={{#1782300613521.period_start#}}&period_end={{#1782300613521.period_end#}}'
        variables: []
      height: 230
      id: '1782300726851'
      position:
        x: 429
        y: 245
      positionAbsolute:
        x: 429
        y: 245
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(http_body) -> dict:\n    import json\n\n    if isinstance(http_body,\
          \ str):\n        try:\n            resp = json.loads(http_body)\n      \
          \  except Exception:\n            resp = {}\n    elif isinstance(http_body,\
          \ dict):\n        resp = http_body\n    else:\n        resp = {}\n\n   \
          \ code = resp.get(\"code\")\n    message = resp.get(\"message\") or \"\"\
          \n    trace_id = resp.get(\"traceId\") or \"\"\n\n    data = resp.get(\"\
          data\") or {}\n\n    period = data.get(\"period\")\n    completion_rate\
          \ = data.get(\"completion_rate\")\n    items = data.get(\"items\") or []\n\
          \n    # 当前 Express 返回：\n    # period = null\n    # completion_rate = null\n\
          \    # items = []\n    # 所以必须判定为数据不足\n    has_period = isinstance(period,\
          \ dict)\n    has_completion_rate = isinstance(completion_rate, (int, float))\n\
          \    has_items = isinstance(items, list) and len(items) > 0\n\n    api_ok\
          \ = code == 0\n\n    data_sufficient = bool(\n        api_ok\n        and\
          \ has_period\n        and has_completion_rate\n        and has_items\n \
          \   )\n\n    summary_for_llm = {\n        \"period\": period,\n        \"\
          completion_rate\": completion_rate,\n        \"items\": items\n    }\n\n\
          \    return {\n        \"api_ok\": api_ok,\n        \"message\": message,\n\
          \        \"trace_id\": trace_id,\n        \"period\": period,\n        \"\
          completion_rate\": completion_rate,\n        \"items_count\": len(items)\
          \ if isinstance(items, list) else 0,\n        \"data_sufficient\": data_sufficient,\n\
          \        \"summary_for_llm\": json.dumps(summary_for_llm, ensure_ascii=False)\n\
          \    }"
        code_language: python3
        outputs:
          api_ok:
            children: null
            type: boolean
          completion_rate:
            children: null
            type: number
          data_sufficient:
            children: null
            type: boolean
          items_count:
            children: null
            type: number
          message:
            children: null
            type: string
          period:
            children: null
            type: object
          summary_for_llm:
            children: null
            type: string
          trace_id:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1782300726851'
          - body
          value_type: string
          variable: http_body
        - value_selector:
          - '1782300613521'
          - period_start
          value_type: string
          variable: period_start
        - value_selector:
          - '1782300613521'
          - period_end
          value_type: string
          variable: period_end
      height: 51
      id: '1782300859641'
      position:
        x: 563
        y: 574
      positionAbsolute:
        x: 563
        y: 574
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b821a1f0-1c24-4d4a-a85d-f4c34ae49804
            value: true
            varType: boolean
            variable_selector:
            - '1782300859641'
            - data_sufficient
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 147
      id: '1782301519382'
      position:
        x: 826
        y: 321
      positionAbsolute:
        x: 826
        y: 321
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 1f312e32-caf7-4600-aa0b-71e7b0803c13
          role: system
          text: '你是一个生活习惯分析助手。你需要根据用户一段时间的打卡统计，生成客观、克制、可执行的生活评价和改进建议。


            要求：

            1. 不要夸大结论。

            2. 不要生成医疗诊断。

            3. 评价必须基于输入数据。

            4. improvements 返回 3 条以内，每条建议要具体、可执行。

            5. 只返回 JSON，不要 Markdown，不要解释。'
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              evaluation:
                type: string
              improvements:
                items:
                  type: string
                maxItems: 3
                minItems: 1
                type: array
            required:
            - evaluation
            - improvements
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1782301567842'
      position:
        x: 1172
        y: 245
      positionAbsolute:
        x: 1172
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "{\n  \"completion_rate\": null,\n  \"metrics\": null,\n  \"evaluation\"\
          : \"当前周期暂无足够打卡数据，暂不生成生活状态评价。\",\n  \"improvements\": [\n    \"请先完成每日打卡记录\"\
          ,\n    \"建议连续记录至少 3 天后再查看周期分析\",\n    \"后续可补充饮食、运动、睡眠等基础打卡项\"\n  ],\n  \"\
          data_sufficient\": false\n}"
        title: 模板转换
        type: template-transform
        variables: []
      height: 51
      id: '1782302059199'
      position:
        x: 1199
        y: 478
      positionAbsolute:
        x: 1199
        y: 478
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: 1ba7b4d1-c282-4cb3-97fd-0f0df7302ac0
            group_name: Group1
            output_type: string
            variables:
            - - '1782302059199'
              - output
            - - '1782301567842'
              - text
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1782302059199'
          - output
        - - '1782301567842'
          - text
      height: 133
      id: '1782302160390'
      position:
        x: 1526
        y: 309
      positionAbsolute:
        x: 1526
        y: 309
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(analysis_text, trace_id) -> dict:\n    import json\n\n   \
          \ if isinstance(analysis_text, dict):\n        analysis = analysis_text\n\
          \    else:\n        try:\n            analysis = json.loads(analysis_text)\n\
          \        except Exception:\n            analysis = {}\n\n    completion_rate\
          \ = analysis.get(\"completion_rate\", None)\n    metrics = analysis.get(\"\
          metrics\", None)\n\n    evaluation = analysis.get(\"evaluation\")\n    if\
          \ not isinstance(evaluation, str) or not evaluation.strip():\n        evaluation\
          \ = \"当前周期暂无足够打卡数据，暂不生成生活状态评价。\"\n\n    improvements = analysis.get(\"improvements\"\
          )\n    if not isinstance(improvements, list):\n        improvements = []\n\
          \n    improvements = [\n        item.strip()\n        for item in improvements\n\
          \        if isinstance(item, str) and item.strip()\n    ][:3]\n\n    if\
          \ not improvements:\n        improvements = [\n            \"请先完成每日打卡记录\"\
          ,\n            \"建议连续记录至少 3 天后再查看周期分析\",\n            \"后续可补充饮食、运动、睡眠等基础打卡项\"\
          \n        ]\n\n    result = {\n        \"completion_rate\": completion_rate,\n\
          \        \"metrics\": metrics,\n        \"evaluation\": evaluation.strip(),\n\
          \        \"improvements\": improvements,\n        \"data_sufficient\": False,\n\
          \        \"traceId\": trace_id\n    }\n\n    return {\n        \"result\"\
          : result\n    }"
        code_language: python3
        outputs:
          completion_rate:
            children: null
            type: number
          evaluation:
            children: null
            type: string
          improvements:
            children: null
            type: array[string]
          metrics:
            children: null
            type: object
          result:
            children: null
            type: object
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1782300859641'
          - api_ok
          value_type: number
          variable: completion_rate
        - value_selector:
          - '1782300859641'
          - message
          value_type: object
          variable: metrics
        - value_selector:
          - '1782302160390'
          - output
          value_type: string
          variable: analysis_text
      height: 51
      id: '1782302258208'
      position:
        x: 1855.0353878892834
        y: 496.4042664617857
      positionAbsolute:
        x: 1855.0353878892834
        y: 496.4042664617857
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782302258208'
          - result
          value_type: object
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1782302385498'
      position:
        x: 1996.0353878892834
        y: 309
      positionAbsolute:
        x: 1996.0353878892834
        y: 309
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -32.2637959523459
      y: 14.790969922100857
      zoom: 0.8950250835497199
  rag_pipeline_variables: []
