dify/生活状态分析工作流.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 生活状态分析工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 46f07461-68a0-47d9-a8eb-7c66999960a2
    name: TOKEN
    selector:
    - env
    - TOKEN
    value: H1b67KJR9MBFQXfmO8tJ8REVa6sv1zecJr3bgmhYcXSgVZmv6bHYmyD97qy9yx20
    value_type: string
  - description: ''
    id: 1b52c087-864a-4751-b63a-7a3f72a35253
    name: express_endpoint
    selector:
    - env
    - express_endpoint
    value: http://172.17.0.1:8080
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1782300613521-source-1782300726851-target
      selected: false
      source: '1782300613521'
      sourceHandle: source
      target: '1782300726851'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1782300726851-source-1782300859641-target
      selected: false
      source: '1782300726851'
      sourceHandle: source
      target: '1782300859641'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1782301519382-true-1782301567842-target
      selected: false
      source: '1782301519382'
      sourceHandle: 'true'
      target: '1782301567842'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1782301519382-false-1782302059199-target
      selected: false
      source: '1782301519382'
      sourceHandle: 'false'
      target: '1782302059199'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1782301567842-source-1782302160390-target
      selected: false
      source: '1782301567842'
      sourceHandle: source
      target: '1782302160390'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1782302059199-source-1782302160390-target
      selected: false
      source: '1782302059199'
      sourceHandle: source
      target: '1782302160390'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: code
      id: 1782302160390-source-1782302258208-target
      selected: false
      source: '1782302160390'
      sourceHandle: source
      target: '1782302258208'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1782302258208-source-1782302385498-target
      selected: false
      source: '1782302258208'
      sourceHandle: source
      target: '1782302385498'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1782300859641-source-1782301519382-target
      source: '1782300859641'
      sourceHandle: source
      target: '1782301519382'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
        - default: ''
          hint: ''
          label: period_start
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: period_start
        - default: ''
          hint: ''
          label: period_end
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: period_end
      height: 161
      id: '1782300613521'
      position:
        x: 105
        y: 265
      positionAbsolute:
        x: 105
        y: 265
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: H1b67KJR9MBFQXfmO8tJ8REVa6sv1zecJr3bgmhYcXSgZVmv6bHYmyD97qy9yx20
            header: X-Internal-Token
            type: custom
          type: no-auth
        body:
          data: []
          type: none
        headers: X-Internal-Token:{{#env.TOKEN#}}
        method: get
        params: 'period_start:{{#1782300613521.period_start#}}

          period_end:{{#1782300613521.period_end#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: '{{#env.express_endpoint#}}/internal/dify/users/{{#1782300613521.user_id#}}/checkins/summary?period_start={{#1782300613521.period_start#}}&period_end={{#1782300613521.period_end#}}'
        variables: []
      height: 227
      id: '1782300726851'
      position:
        x: 429
        y: 245
      positionAbsolute:
        x: 429
        y: 245
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({ http_body, period_start, period_end }) {\n  let resp\
          \ = {};\n\n  if (typeof http_body === \"string\") {\n    try {\n      resp\
          \ = JSON.parse(http_body);\n    } catch (e) {\n      resp = {};\n    }\n\
          \  } else if (http_body && typeof http_body === \"object\") {\n    resp\
          \ = http_body;\n  }\n\n  const code = resp.code;\n  const message = resp.message\
          \ || \"\";\n  const traceId = resp.traceId || \"\";\n\n  const data = resp.data\
          \ || {};\n\n  const period = data.period ?? null;\n  const completionRate\
          \ = data.completion_rate ?? null;\n  const items = Array.isArray(data.items)\
          \ ? data.items : [];\n\n  // 当前 Express 返回：\n  // period = null\n  // completion_rate\
          \ = null\n  // items = []\n  // 所以必须判定为数据不足\n  const apiOk = code === 0;\n\
          \  const hasPeriod = period !== null && typeof period === \"object\" &&\
          \ !Array.isArray(period);\n  const hasCompletionRate = typeof completionRate\
          \ === \"number\";\n  const hasItems = items.length > 0;\n\n  const dataSufficient\
          \ = Boolean(\n    apiOk &&\n    hasPeriod &&\n    hasCompletionRate &&\n\
          \    hasItems\n  );\n\n  const summaryForLLM = {\n    period,\n    completion_rate:\
          \ completionRate,\n    items,\n    period_start,\n    period_end\n  };\n\
          \n  return {\n    api_ok: apiOk,\n    message,\n    trace_id: traceId,\n\
          \n    // 为了避免 Dify 对 object 类型不接受 null，这里给空对象\n    period: period || {},\n\
          \n    // 当前 completion_rate 允许为 null\n    completion_rate: completionRate,\n\
          \n    items_count: items.length,\n    data_sufficient: dataSufficient,\n\
          \    summary_for_llm: JSON.stringify(summaryForLLM)\n  };\n}"
        code_language: javascript
        outputs:
          api_ok:
            children: null
            type: boolean
          completion_rate:
            children: null
            type: number
          data_sufficient:
            children: null
            type: boolean
          items_count:
            children: null
            type: number
          message:
            children: null
            type: string
          period:
            children: null
            type: object
          summary_for_llm:
            children: null
            type: string
          trace_id:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1782300726851'
          - body
          value_type: string
          variable: http_body
        - value_selector:
          - '1782300613521'
          - period_start
          value_type: string
          variable: period_start
        - value_selector:
          - '1782300613521'
          - period_end
          value_type: string
          variable: period_end
      height: 52
      id: '1782300859641'
      position:
        x: 563
        y: 574
      positionAbsolute:
        x: 563
        y: 574
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b821a1f0-1c24-4d4a-a85d-f4c34ae49804
            value: true
            varType: boolean
            variable_selector:
            - '1782300859641'
            - data_sufficient
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 148
      id: '1782301519382'
      position:
        x: 826
        y: 321
      positionAbsolute:
        x: 826
        y: 321
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 1f312e32-caf7-4600-aa0b-71e7b0803c13
          role: system
          text: '你是一个生活习惯分析助手。你需要根据用户一段时间的打卡统计，生成客观、克制、可执行的生活评价和改进建议。


            要求：

            1. 不要夸大结论。

            2. 不要生成医疗诊断。

            3. 评价必须基于输入数据。

            4. improvements 返回 3 条以内，每条建议要具体、可执行。

            5. 只返回 JSON，不要 Markdown，不要解释。'
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              evaluation:
                type: string
              improvements:
                items:
                  type: string
                maxItems: 3
                minItems: 1
                type: array
            required:
            - evaluation
            - improvements
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782301567842'
      position:
        x: 1172
        y: 245
      positionAbsolute:
        x: 1172
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "{\n  \"completion_rate\": null,\n  \"metrics\": null,\n  \"evaluation\"\
          : \"当前周期暂无足够打卡数据，暂不生成生活状态评价。\",\n  \"improvements\": [\n    \"请先完成每日打卡记录\"\
          ,\n    \"建议连续记录至少 3 天后再查看周期分析\",\n    \"后续可补充饮食、运动、睡眠等基础打卡项\"\n  ],\n  \"\
          data_sufficient\": false\n}"
        title: 模板转换
        type: template-transform
        variables: []
      height: 52
      id: '1782302059199'
      position:
        x: 1199
        y: 478
      positionAbsolute:
        x: 1199
        y: 478
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: 1ba7b4d1-c282-4cb3-97fd-0f0df7302ac0
            group_name: Group1
            output_type: string
            variables:
            - - '1782302059199'
              - output
            - - '1782301567842'
              - text
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1782302059199'
          - output
        - - '1782301567842'
          - text
      height: 136
      id: '1782302160390'
      position:
        x: 1526
        y: 309
      positionAbsolute:
        x: 1526
        y: 309
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({ analysis_text, trace_id, completion_rate, metrics,\
          \ data_sufficient }) {\n  let analysis = {};\n\n  if (analysis_text && typeof\
          \ analysis_text === \"object\") {\n    analysis = analysis_text;\n  } else\
          \ if (typeof analysis_text === \"string\") {\n    try {\n      analysis\
          \ = JSON.parse(analysis_text);\n    } catch (e) {\n      analysis = {};\n\
          \    }\n  }\n\n  let finalCompletionRate =\n    analysis.completion_rate\
          \ !== undefined\n      ? analysis.completion_rate\n      : completion_rate;\n\
          \n  let finalMetrics =\n    analysis.metrics !== undefined\n      ? analysis.metrics\n\
          \      : metrics;\n\n  let evaluation = analysis.evaluation;\n\n  if (typeof\
          \ evaluation !== \"string\" || evaluation.trim() === \"\") {\n    evaluation\
          \ = \"当前周期暂无足够打卡数据，暂不生成生活状态评价。\";\n  }\n\n  let improvements = analysis.improvements;\n\
          \n  if (!Array.isArray(improvements)) {\n    improvements = [];\n  }\n\n\
          \  improvements = improvements\n    .filter(item => typeof item === \"string\"\
          \ && item.trim() !== \"\")\n    .map(item => item.trim())\n    .slice(0,\
          \ 3);\n\n  if (improvements.length === 0) {\n    improvements = [\n    \
          \  \"请先完成每日打卡记录\",\n      \"建议连续记录至少 3 天后再查看周期分析\",\n      \"后续可补充饮食、运动、睡眠等基础打卡项\"\
          \n    ];\n  }\n\n  const finalDataSufficient =\n    typeof data_sufficient\
          \ === \"boolean\"\n      ? data_sufficient\n      : false;\n\n  const result\
          \ = {\n    completion_rate: finalCompletionRate ?? null,\n    metrics: finalMetrics\
          \ ?? null,\n    evaluation: evaluation.trim(),\n    improvements,\n    data_sufficient:\
          \ finalDataSufficient,\n    traceId: trace_id || \"\"\n  };\n\n  return\
          \ {\n    result\n  };\n}"
        code_language: javascript
        outputs:
          result:
            children: null
            type: object
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1782302059199'
          - output
          value_type: string
          variable: analysis_text
        - value_selector:
          - '1782300859641'
          - trace_id
          value_type: string
          variable: trace_id
        - value_selector:
          - '1782300859641'
          - completion_rate
          value_type: number
          variable: completion_rate
        - value_selector:
          - '1782300859641'
          - data_sufficient
          value_type: boolean
          variable: data_sufficient
      height: 52
      id: '1782302258208'
      position:
        x: 1857.2699621339157
        y: 496.4042664617857
      positionAbsolute:
        x: 1857.2699621339157
        y: 496.4042664617857
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782302258208'
          - result
          value_type: object
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1782302385498'
      position:
        x: 1996.0353878892834
        y: 309
      positionAbsolute:
        x: 1996.0353878892834
        y: 309
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1370.7997749233195
      y: 105.0561455069489
      zoom: 0.8950250835497199
  rag_pipeline_variables: []
