dify/管理员助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 管理员助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 4ae6564a-ca07-499e-b2ee-10f83a343150
    name: TOKEN
    selector:
    - env
    - TOKEN
    value: H1b67KJR9MBFQXfmO8tJ8REVa6sv1zecJr3bgmhYcXSgVZmv6bHYmyD97qy9yx20
    value_type: string
  - description: ''
    id: b1351145-b71d-45fc-9d43-ea15710f337d
    name: express_endpoint
    selector:
    - env
    - express_endpoint
    value: http://172.17.0.1:8080
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1782727043125-source-llm-target
      selected: false
      source: '1782727043125'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1782726845380-source-1782727770233-target
      source: '1782726845380'
      sourceHandle: source
      target: '1782727770233'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: variable-aggregator
      id: 1782727770233-1-1782727921254-target
      source: '1782727770233'
      sourceHandle: '1'
      target: '1782727921254'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: variable-aggregator
      id: 1782727770233-2-1782727921254-target
      source: '1782727770233'
      sourceHandle: '2'
      target: '1782727921254'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: variable-aggregator
      id: 1782727770233-1782727824952-1782727921254-target
      source: '1782727770233'
      sourceHandle: '1782727824952'
      target: '1782727921254'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: http-request
      id: 1782727921254-source-1782727043125-target
      source: '1782727921254'
      sourceHandle: source
      target: '1782727043125'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: llm-source-1782728491178-target
      source: llm
      sourceHandle: source
      target: '1782728491178'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1782728491178-true-1782728671220-target
      source: '1782728491178'
      sourceHandle: 'true'
      target: '1782728671220'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1782728491178-false-1782728765264-target
      source: '1782728491178'
      sourceHandle: 'false'
      target: '1782728765264'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
        - default: ''
          hint: ''
          label: role
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: role
        - default: ''
          hint: ''
          label: context
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: context
      height: 160
      id: '1782726845380'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: c70aee9c-3399-47fc-b85b-98dfd67ec01a
          role: system
          text: "你是“糖尿病预治智能助手”的后台管理员助手。\n\n你的职责是协助管理员查询后台数据、理解后台状态，并为维护操作生成待确认的操作草案。\n\
            \n一、数据使用规则\n1. 后续用户消息中会包含“后台实时摘要”“当前后台模块”“管理员问题”等信息。\n2. 只能依据已提供的后台实时摘要回答统计、列表、状态类问题。\n\
            3. 不得编造医生、文章、用户、风险评估、方案、打卡、消息等任何后台数据。\n4. 若后台摘要为空、接口调用失败、数据不足或无法判断，明确说明“暂时无法获取足够的后台实时数据”，不要猜测答案。\n\
            5. role、user_id、context 仅用于上下文提示；真实权限校验由 Express 后端负责。\n\n二、意图处理规则\n1.\
            \ 统计查询、状态查询、内容查询：\n   - 根据后台摘要直接回答。\n   - 说明数据口径、筛选条件或数据不足之处。\n   - 回答简洁、清晰，优先用短段落或小标题。\n\
            \n2. 新增、修改、删除、发布、下架、调整排序等维护请求：\n   - 绝不直接执行操作。\n   - 绝不声称“已经修改”“已经删除”“已经发布”。\n\
            \   - 只生成“待确认操作草案”，格式必须包含：\n     操作类型：\n     目标对象：\n     拟修改内容：\n    \
            \ 当前信息或依据：\n     风险提示：\n     确认状态：待管理员确认\n   - 最后明确提示：请由管理员在后台页面确认后，再调用\
            \ Express 管理接口执行。\n\n3. 涉及删除、批量修改、下架、权限变更、敏感信息、不可逆操作：\n   - 必须强调风险。\n\
            \   - 必须要求管理员明确确认。\n   - 不提供 SQL，不直接调用接口，不绕过 Express 管理接口。\n\n三、安全规则\n\
            1. 不输出 API Key、X-Internal-Token、数据库密码、内部地址、完整隐私数据或敏感个人信息。\n2. 不生成可直接执行的\
            \ SQL。\n3. 不直接写数据库，不假装拥有数据库写入权限。\n4. 对不属于后台管理范围的问题，说明你主要负责后台数据查询与维护草案协助。\n\
            \n四、回答风格\n1. 使用中文。\n2. 语气专业、简洁、明确。\n3. 查询类问题给结论；维护类问题给待确认草案。\n4. 不要输出与当前问题无关的长篇解释。"
        - id: 6c0b4f5f-f322-4915-996e-3e2975769cc5
          role: user
          text: '管理员用户 ID：{{#1782726845380.user_id#}}


            管理员角色：{{#1782726845380.role#}}


            当前后台模块：{{#1782726845380.context#}}


            本次意图分类：{{#1782727921254.output#}}


            管理员问题：{{#sys.query#}}


            后台实时摘要：{{#1782727043125.body#}}


            请严格依据“后台实时摘要”回答。

            如果摘要为空、接口失败或数据不足，请明确说明暂时无法获取足够的后台实时数据。

            对于新增、修改、删除、发布、下架、排序调整等请求，只生成待确认操作草案，不要声称已经执行。'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 1385
        y: 316
      positionAbsolute:
        x: 1385
        y: 316
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: X-Internal-Token:{{#env.TOKEN#}}
        method: get
        params: keyword:{{#sys.query#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: '{{#env.express_endpoint#}}/internal/dify/admin/summary'
        variables: []
      height: 140
      id: '1782727043125'
      position:
        x: 1082
        y: 316
      positionAbsolute:
        x: 1082
        y: 316
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        classes:
        - id: '1'
          label: 统计查询
          name: '管理员查询后台数据、数量、统计、列表、状态、趋势、概览、最近数据等。

            例如：当前有多少医生？有多少篇已发布文章？最近新增用户数是多少？查看风险评估情况。'
        - id: '2'
          label: 资料维护
          name: '管理员希望新增、修改、编辑、发布、下架、调整、更新医生资料、文章资料、资讯内容、排序或展示状态等。

            例如：把王医生职称改为主任医师；下架某篇文章；修改文章标题；调整医生排序。'
        - id: '1782727824952'
          label: 风险操作
          name: '涉及删除、批量修改、权限调整、账号状态变更、批量下架、清空数据、敏感信息处理或其他不可逆、高风险维护操作。

            例如：删除所有未发布文章；批量禁用用户；修改管理员权限；清空某类数据。'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1782726845380'
        - sys.query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 219
      id: '1782727770233'
      position:
        x: 407.59479341998815
        y: 269
      positionAbsolute:
        x: 407.59479341998815
        y: 269
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1782727770233'
          - class_label
      height: 107
      id: '1782727921254'
      position:
        x: 771
        y: 316
      positionAbsolute:
        x: 771
        y: 316
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is not
            id: c2b5b047-d22b-4054-ad7e-8915c990bf17
            value: 统计查询
            varType: string
            variable_selector:
            - '1782727921254'
            - output
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 147
      id: '1782728491178'
      position:
        x: 1686
        y: 316
      positionAbsolute:
        x: 1686
        y: 316
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'action_draft：{{#llm.text#}}


          confirm_required：true


          说明：以上仅为待确认操作草案，未执行任何数据库写入。请管理员在后台页面确认后，再调用 Express 管理接口执行。'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 166
      id: '1782728671220'
      position:
        x: 2011
        y: 212.00000000000006
      positionAbsolute:
        x: 2011
        y: 212.00000000000006
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 102
      id: '1782728765264'
      position:
        x: 2011
        y: 417.00000000000006
      positionAbsolute:
        x: 2011
        y: 417.00000000000006
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -92.57357757324644
      y: 178.9177992972207
      zoom: 0.8010698662928422
  rag_pipeline_variables: []
