dify/糖尿病助手Chatflow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 糖尿病助手Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.30@26018901445dfce76077e57c38582b44d9a91ddc4ff86370e9a769cf8e7af5b5
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 9d4909d4-8adf-416d-aa87-ca35fdcb665c
    name: bound_user_id
    selector:
    - conversation
    - bound_user_id
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: 3e58945a-809d-46c1-8b1c-11fb863fe818
    name: TOKEN
    selector:
    - env
    - TOKEN
    value: H1b67KJR9MBFQXfmO8tJ8REVa6sv1zecJr3bgmhYcXSgVZmv6bHYmyD97qy9yx20
    value_type: string
  - description: ''
    id: 6419deca-440e-43e3-bdb4-c8db1e131752
    name: express_endpoint
    selector:
    - env
    - express_endpoint
    value: http://172.17.0.1:8080
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1782627603942-source-1782628802220-target
      selected: false
      source: '1782627603942'
      sourceHandle: source
      target: '1782628802220'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1782628802220-source-1782628999882-target
      selected: false
      source: '1782628802220'
      sourceHandle: source
      target: '1782628999882'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1782628999882-false-answer-target
      selected: false
      source: '1782628999882'
      sourceHandle: 'false'
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1782628999882-true-1782629244701-target
      selected: false
      source: '1782628999882'
      sourceHandle: 'true'
      target: '1782629244701'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1782629429182-source-1782629741655-target
      selected: false
      source: '1782629429182'
      sourceHandle: source
      target: '1782629741655'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1782629741655-source-1782630003547-target
      selected: false
      source: '1782629741655'
      sourceHandle: source
      target: '1782630003547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1782630003547-false-1782630026778-target
      selected: false
      source: '1782630003547'
      sourceHandle: 'false'
      target: '1782630026778'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1782630003547-true-1782630511518-target
      source: '1782630003547'
      sourceHandle: 'true'
      target: '1782630511518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1782630511518-1-1782631009551-target
      source: '1782630511518'
      sourceHandle: '1'
      target: '1782631009551'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1782631009551-source-1782631053062-target
      source: '1782631009551'
      sourceHandle: source
      target: '1782631053062'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1782631053062-source-1782631198759-target
      source: '1782631053062'
      sourceHandle: source
      target: '1782631198759'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1782630511518-2-1782630398807-target
      source: '1782630511518'
      sourceHandle: '2'
      target: '1782630398807'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1782630398807-false-1782631317395-target
      source: '1782630398807'
      sourceHandle: 'false'
      target: '1782631317395'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1782630398807-true-1782631348189-target
      source: '1782630398807'
      sourceHandle: 'true'
      target: '1782631348189'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1782631348189-false-1782631375924-target
      source: '1782631348189'
      sourceHandle: 'false'
      target: '1782631375924'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1782631375924-source-1782631492732-target
      source: '1782631375924'
      sourceHandle: source
      target: '1782631492732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1782631348189-true-1782631530854-target
      source: '1782631348189'
      sourceHandle: 'true'
      target: '1782631530854'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1782631530854-source-1782631582686-target
      source: '1782631530854'
      sourceHandle: source
      target: '1782631582686'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1782630511518-1782630948716-1782631652761-target
      source: '1782630511518'
      sourceHandle: '1782630948716'
      target: '1782631652761'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1782631652761-1-1782631710077-target
      source: '1782631652761'
      sourceHandle: '1'
      target: '1782631710077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1782631652761-2-1782631712840-target
      source: '1782631652761'
      sourceHandle: '2'
      target: '1782631712840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1782631652761-1782631680839-1782631717975-target
      source: '1782631652761'
      sourceHandle: '1782631680839'
      target: '1782631717975'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1782631652761-1782631687505-1782631720704-target
      source: '1782631652761'
      sourceHandle: '1782631687505'
      target: '1782631720704'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1782631652761-1782631693752-1782631725118-target
      source: '1782631652761'
      sourceHandle: '1782631693752'
      target: '1782631725118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1782630511518-1782630954047-1782631830843-target
      source: '1782630511518'
      sourceHandle: '1782630954047'
      target: '1782631830843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1782631830843-source-1782631910454-target
      source: '1782631830843'
      sourceHandle: source
      target: '1782631910454'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: 1782629244701-source-1782629429182-target
      source: '1782629244701'
      sourceHandle: source
      target: '1782629429182'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_id
        - default: assistant
          hint: ''
          label: app_type
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: app_type
      height: 135
      id: '1782627603942'
      position:
        x: -7.09860576868715
        y: 739.7323232323234
      positionAbsolute:
        x: -7.09860576868715
        y: 739.7323232323234
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 暂时无法确认当前用户，请重新进入会话后再试。
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 116
      id: answer
      position:
        x: 1046
        y: 855.3989898989901
      positionAbsolute:
        x: 1046
        y: 855.3989898989901
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({ bound_user_id, sys_user_id, input_user_id }) {\n  const\
          \ userId = bound_user_id || sys_user_id || input_user_id || \"\";\n\n  return\
          \ {\n    resolved_user_id: String(userId),\n    need_bind_user: !bound_user_id\
          \ && !!userId\n  };\n}"
        code_language: javascript
        outputs:
          need_bind_user:
            children: null
            type: boolean
          resolved_user_id:
            children: null
            type: string
        selected: false
        title: ResolveUserID
        type: code
        variables:
        - value_selector:
          - conversation
          - bound_user_id
          value_type: string
          variable: bound_user_id
        - value_selector:
          - sys
          - user_id
          value_type: string
          variable: sys_user_id
        - value_selector:
          - '1782627603942'
          - user_id
          value_type: string
          variable: input_user_id
      height: 52
      id: '1782628802220'
      position:
        x: 342
        y: 760.7323232323234
      positionAbsolute:
        x: 342
        y: 760.7323232323234
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: e046a61e-f97d-4324-a250-1913e7c7db22
            value: ''
            varType: string
            variable_selector:
            - '1782628802220'
            - resolved_user_id
          id: 'true'
          logical_operator: and
        selected: false
        title: CheckUserId
        type: if-else
      height: 140
      id: '1782628999882'
      position:
        x: 685.5611110778734
        y: 760.7323232323234
      positionAbsolute:
        x: 685.5611110778734
        y: 760.7323232323234
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1782628802220'
          - resolved_user_id
          variable_selector:
          - conversation
          - bound_user_id
        selected: false
        title: BindUserId
        type: assigner
        version: '2'
      height: 84
      id: '1782629244701'
      position:
        x: 1053.098605768687
        y: 670.1031725929286
      positionAbsolute:
        x: 1053.098605768687
        y: 670.1031725929286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: H1b67KJR9MBFQXfmO8tJ8REVa6sv1zecJr3bgmhYcXSgZVmv6bHYmyD97qy9yx20
            header: X-Internal-Token
            type: custom
          type: no-auth
        body:
          data: []
          type: none
        headers: X-Internal-Token:{{#env.TOKEN#}}
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: '{{#env.express_endpoint#}}/internal/dify/users/{{#1782627603942.user_id#}}/context'
        variables: []
      height: 175
      id: '1782629429182'
      position:
        x: 1391.0044725149457
        y: 626.1802659821811
      positionAbsolute:
        x: 1391.0044725149457
        y: 626.1802659821811
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({ status_code, body }) {\n  let parsed = {};\n\n  try\
          \ {\n    parsed = typeof body === \"string\" ? JSON.parse(body) : body;\n\
          \  } catch (e) {\n    return {\n      http_ok: false,\n      has_profile:\
          \ false,\n      has_latest_risk: false,\n      profile_json: \"null\",\n\
          \      latest_risk_json: \"null\",\n      latest_plan_json: \"null\",\n\
          \      risk_level: \"\",\n      score_text: \"\",\n      advice_summary:\
          \ \"\",\n      trace_id: \"\"\n    };\n  }\n\n  const ok = Number(status_code)\
          \ === 200 && parsed.code === 0;\n  const data = parsed.data || {};\n  const\
          \ profile = data.profile || null;\n  const latestRisk = data.latest_risk\
          \ || null;\n\n  return {\n    http_ok: ok,\n    has_profile: !!profile,\n\
          \    has_latest_risk: !!latestRisk,\n    profile_json: JSON.stringify(profile),\n\
          \    latest_risk_json: JSON.stringify(latestRisk),\n    latest_plan_json:\
          \ \"null\",\n    risk_level: latestRisk && latestRisk.risk_level ? String(latestRisk.risk_level)\
          \ : \"\",\n    score_text: latestRisk && latestRisk.score !== undefined\
          \ && latestRisk.score !== null ? String(latestRisk.score) : \"\",\n    advice_summary:\
          \ latestRisk && latestRisk.advice_summary ? String(latestRisk.advice_summary)\
          \ : \"\",\n    trace_id: parsed.traceId || \"\"\n  };\n}"
        code_language: javascript
        outputs:
          advice_summary:
            children: null
            type: string
          has_latest_risk:
            children: null
            type: boolean
          has_profile:
            children: null
            type: boolean
          http_ok:
            children: null
            type: boolean
          latest_plan_json:
            children: null
            type: string
          latest_risk_json:
            children: null
            type: string
          profile_json:
            children: null
            type: string
          risk_level:
            children: null
            type: string
          score_text:
            children: null
            type: string
          trace_id:
            children: null
            type: string
        selected: false
        title: NormalizeContext
        type: code
        variables:
        - value_selector:
          - '1782629429182'
          - status_code
          value_type: number
          variable: status_code
        - value_selector:
          - '1782629429182'
          - body
          value_type: string
          variable: body
      height: 52
      id: '1782629741655'
      position:
        x: 1730
        y: 749.8989898989901
      positionAbsolute:
        x: 1730
        y: 749.8989898989901
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 5c78bf2f-e7e7-47be-a715-3ed350baac60
            value: true
            varType: boolean
            variable_selector:
            - '1782629741655'
            - http_ok
          id: 'true'
          logical_operator: and
        selected: false
        title: CheckContextHttp
        type: if-else
      height: 124
      id: '1782630003547'
      position:
        x: 2079.0541225817115
        y: 760.7323232323234
      positionAbsolute:
        x: 2079.0541225817115
        y: 760.7323232323234
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 暂时无法读取你的健康档案。你可以先描述血糖数值、测量时间、是否空腹、是否多次异常，我可以提供通用健康信息。
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 148
      id: '1782630026778'
      position:
        x: 2434
        y: 877.8656565656566
      positionAbsolute:
        x: 2434
        y: 877.8656565656566
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: a1725308-e80e-4b39-86af-605a68ee1b6c
            value: true
            varType: boolean
            variable_selector:
            - '1782629741655'
            - has_profile
          id: 'true'
          logical_operator: and
        selected: false
        title: IF_ProfileExists
        type: if-else
      height: 148
      id: '1782630398807'
      position:
        x: 2796
        y: 307.1277777777779
      positionAbsolute:
        x: 2796
        y: 307.1277777777779
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          label: knowledge_qa
          name: 糖尿病相关通用知识问答，包括血糖指标解释、糖尿病基础知识、饮食、运动、体重、腰围、血压、筛查、复查、生活方式方向等。用户没有明确要求解释自己的风险评分或个人档案，只是在问通用健康问题。
        - id: '2'
          label: personalized_explanation
          name: 用户要求结合自己的健康档案、风险评估结果、评分、风险等级、异常指标、BMI、腰围、血压、家族史等个人信息进行解释。只要用户表达“我的”“根据我”“为什么我是”“我的结果”等个性化含义，就归到这一类。
        - id: '1782630948716'
          label: entry_action
          name: 用户想进入某个业务功能入口，包括风险评估、生活方案、报告查看、健康打卡、记录血糖、记录运动、记录饮食等。这个分类只输出自然语言入口说明，不输出按钮、路由
            JSON、业务 action JSON。
        - id: '1782630954047'
          label: medical_consult_or_warning
          name: 用户的问题涉及诊断、用药、急症、严重高血糖、严重低血糖、胸痛、意识异常、呼吸困难、持续呕吐、脱水、孕期异常血糖等高风险医疗场景。凡是涉及停药、换药、加药、剂量调整、症状判断、急性危险信号，都归到这一类。
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1782627603942'
        - sys.query
        selected: false
        title: IntentClassifier
        type: question-classifier
        vision:
          enabled: false
      height: 262
      id: '1782630511518'
      position:
        x: 2434
        y: 535.8656565656568
      positionAbsolute:
        x: 2434
        y: 535.8656565656568
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 7dyf2RLDhahnaUqa7ymIZ+MQCFzxXUk9A9a5rNI1k/t3VKxDkFdc0CKcWckLSOAb
        - eztGIn+ikokPjwjr2WCtA7z7dalY4YIobBTpRAWsBcIQunsnXYs60STovbogxYKb
        - 03LFMPvHUziryxfu0y2BiycXc0TQg5P5cPlUMryw5JNMjA+GA29+df95u46QaKKZ
        - 76hz3pdiQkWtkncPYfXxHwziGgpt8VdwRluTzkdlUR+AY+0dPc385nR376j45lPV
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: embedding-3
              embedding_provider_name: langgenius/zhipuai/zhipuai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1782627603942'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: KR_DiabetesKnowledge
        type: knowledge-retrieval
      height: 174
      id: '1782631009551'
      position:
        x: 2796
        y: -1.7442093038130508
      positionAbsolute:
        x: 2796
        y: -1.7442093038130508
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1782631009551'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: c645bbd3-7f9b-4e66-afc4-3507568792ff
          role: system
          text: '你是 CF-ASSISTANT 糖尿病健康管理助手，负责糖尿病相关健康问答、风险解释、生活方式方向和功能入口引导。


            用户档案 profile:

            {{#1782629741655.profile_json#}}


            最近一次风险评估 latest_risk:

            {{#1782629741655.latest_risk_json#}}


            最近生活方案 latest_plan:

            null


            知识库上下文:

            {{#context#}}


            严格规则：

            1. 如果 profile 为 null，不得编造年龄、身高、体重、BMI、腰围、血压、病史、家族史等信息。

            2. 如果 latest_risk 为 null，不得引用风险等级、风险评分、风险分层或 score_detail。

            3. latest_plan 当前不可用，不能声称已经读取到历史生活方案。

            4. 对血糖问题，必须关注测量时间：空腹、餐后 2 小时、随机血糖，以及是否多次异常。

            5. 对严重高血糖、严重低血糖、胸痛、意识异常、呼吸困难等情况，必须提示及时就医或急诊处理。

            6. 回答使用中文，内容清晰、稳妥、可执行。

            7. 不输出 Markdown 按钮。

            8. 不输出前端路由 JSON。

            9. 不输出业务 action JSON。

            10. 如果只能给通用信息，必须说明内容不基于个人档案。'
        - id: 46921a09-db9a-43a3-8f58-6cbef3a5210c
          role: user
          text: '用户问题：

            {{#sys.query#}}'
        selected: false
        title: LLM_KnowledgeQA
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782631053062'
      position:
        x: 3138
        y: 16
      positionAbsolute:
        x: 3138
        y: 16
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1782631053062.text#}}'
        selected: false
        title: Answer_KnowledgeQA
        type: answer
        variables: []
      height: 102
      id: '1782631198759'
      position:
        x: 3484.6833332336205
        y: 16
      positionAbsolute:
        x: 3484.6833332336205
        y: 16
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 请先完善健康档案，我才能根据年龄、身高、体重、腰围、血压、家族史等信息进行个性化解释。当前不能编造你的档案信息。
        selected: false
        title: Answer_NoProfile
        type: answer
        variables: []
      height: 148
      id: '1782631317395'
      position:
        x: 3158
        y: 477.0333333333334
      positionAbsolute:
        x: 3158
        y: 477.0333333333334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 35a80654-82de-4ce4-8030-93ad777184f2
            value: true
            varType: boolean
            variable_selector:
            - '1782629741655'
            - has_latest_risk
          id: 'true'
          logical_operator: and
        selected: false
        title: IF_RiskExists
        type: if-else
      height: 148
      id: '1782631348189'
      position:
        x: 3158
        y: 249.03333333333342
      positionAbsolute:
        x: 3158
        y: 249.03333333333342
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e1a3a0ab-9d71-4930-a1ef-124fc1b5bfaa
          role: system
          text: '你是 CF-ASSISTANT 糖尿病健康管理助手。


            用户档案 profile:

            {{#1782629741655.profile_json#}}


            最近一次风险评估 latest_risk:

            null


            最近生活方案 latest_plan:

            null


            严格规则：

            1. 只能基于 profile 中真实存在的字段回答。

            2. 不得引用风险等级、风险评分、风险分层或 score_detail。

            3. 不能声称用户属于高风险、中风险或低风险。

            4. 可以围绕 BMI、腰围、血压、家族史、运动频率等档案字段解释糖尿病相关影响。

            5. 如果用户问风险等级或评分，必须说明当前没有读取到最近一次风险评估结果，因此不能解释风险评分或风险等级。

            6. 不输出 Markdown 按钮。

            7. 不输出前端路由 JSON。

            8. 不输出业务 action JSON。'
        - id: 69256edc-86be-4d4b-aadc-d3cdaa02d5ef
          role: user
          text: '用户问题：

            {{#sys.query#}}'
        selected: false
        title: LLM_ProfileOnly
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782631375924'
      position:
        x: 3520
        y: 399.63333333333344
      positionAbsolute:
        x: 3520
        y: 399.63333333333344
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1782631375924.text#}}'
        selected: false
        title: Answer_ProfileOnly
        type: answer
        variables: []
      height: 102
      id: '1782631492732'
      position:
        x: 3862
        y: 399.63333333333344
      positionAbsolute:
        x: 3862
        y: 399.63333333333344
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: ee2a8689-8c22-47f6-871a-e3b2c877f441
          role: system
          text: '你是 CF-ASSISTANT 糖尿病健康管理助手。


            用户档案 profile:

            {{#1782629741655.profile_json#}}


            最近一次风险评估 latest_risk:

            {{#1782629741655.latest_risk_json#}}


            最近生活方案 latest_plan:

            null


            严格规则：

            1. 只能解释 profile 与 latest_risk 中真实存在的字段。

            2. 风险等级、评分、score_detail 只能来自 latest_risk。

            3. 不得编造缺失的空腹血糖、餐后 2 小时血糖、随机血糖、HbA1c 数据。

            4. 如果 labs 中字段为 null，必须说明当前缺少对应化验数据。

            5. latest_plan 当前不可用，不能声称已经读取到历史生活方案。

            6. 风险结果仅用于健康管理参考，不作为医学诊断。

            7. 不输出 Markdown 按钮。

            8. 不输出前端路由 JSON。

            9. 不输出业务 action JSON。'
        - id: 0b29d39d-eaaf-4f0c-8f07-97268a3abd5b
          role: user
          text: '用户问题：

            {{#sys.query#}}'
        selected: false
        title: LLM_ProfileAndRisk
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782631530854'
      position:
        x: 3520
        y: 217.63333333333338
      positionAbsolute:
        x: 3520
        y: 217.63333333333338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1782631530854.text#}}'
        selected: false
        title: Answer_ProfileAndRisk
        type: answer
        variables: []
      height: 102
      id: '1782631582686'
      position:
        x: 3855.7555556885063
        y: 217.63333333333338
      positionAbsolute:
        x: 3855.7555556885063
        y: 217.63333333333338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          label: risk_assessment_entry
          name: 用户想进入糖尿病风险评估、重新评估、测一测风险。
        - id: '2'
          label: plan_entry
          name: 用户想生成生活方案、饮食运动方案、健康管理方案。
        - id: '1782631680839'
          label: report_entry
          name: 用户想查看风险报告、评估报告、历史报告。
        - id: '1782631687505'
          label: checkin_entry
          name: 用户想记录饮食、运动、体重、腰围、血糖、打卡。
        - id: '1782631693752'
          label: entry_fallback
          name: 用户表达了功能入口意图，但具体入口不明确。
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1782627603942'
        - sys.query
        selected: false
        title: EntryActionClassifier
        type: question-classifier
        vision:
          enabled: false
      height: 304
      id: '1782631652761'
      position:
        x: 2796
        y: 989.9424242424244
      positionAbsolute:
        x: 2796
        y: 989.9424242424244
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 可以进入风险评估页面，按提示补充健康档案和血糖相关信息。完成后我可以继续帮你解释评估结果。
        selected: false
        title: Answer_RiskEntry
        type: answer
        variables: []
      height: 132
      id: '1782631710077'
      position:
        x: 3158
        y: 705.0333333333334
      positionAbsolute:
        x: 3158
        y: 705.0333333333334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 可以进入生活方案页面，系统会根据你的健康档案和风险结果生成生活方式方向。当前聊天中不会直接读取历史生活方案。
        selected: false
        title: Answer_PlanEntry
        type: answer
        variables: []
      height: 148
      id: '1782631712840'
      position:
        x: 3158
        y: 917.0333333333334
      positionAbsolute:
        x: 3158
        y: 917.0333333333334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 可以进入报告页面查看最近一次风险评估结果。查看后你可以把想了解的部分发给我，我可以继续解释。
        selected: false
        title: Answer_ReportEntry
        type: answer
        variables: []
      height: 132
      id: '1782631717975'
      position:
        x: 3158
        y: 1145.0333333333333
      positionAbsolute:
        x: 3158
        y: 1145.0333333333333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 可以进入打卡页面记录饮食、运动、体重、腰围或血糖情况。连续记录有助于后续分析趋势。
        selected: false
        title: Answer_CheckinEntry
        type: answer
        variables: []
      height: 132
      id: '1782631720704'
      position:
        x: 3158
        y: 1357.0333333333333
      positionAbsolute:
        x: 3158
        y: 1357.0333333333333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 当前可以进入风险评估、生活方案、报告查看或打卡页面。请说明你要进入哪一个功能。
        selected: false
        title: Answer_EntryFallback
        type: answer
        variables: []
      height: 132
      id: '1782631725118'
      position:
        x: 3158
        y: 1569.0333333333333
      positionAbsolute:
        x: 3158
        y: 1569.0333333333333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: b90b0612-1ef2-482c-9950-9f1e523b480b
          role: system
          text: '你是 CF-ASSISTANT 糖尿病健康管理助手，不是医生。


            用户档案 profile:

            {{#1782629741655.profile_json#}}


            最近一次风险评估 latest_risk:

            {{#1782629741655.latest_risk_json#}}


            最近生活方案 latest_plan:

            null


            严格规则：

            1. 不能诊断疾病。

            2. 不能让用户停药、换药、加药或调整处方剂量。

            3. 涉及严重高血糖、严重低血糖、胸痛、意识异常、呼吸困难、持续呕吐、脱水、孕期异常血糖时，必须提示及时就医或急诊处理。

            4. 涉及用药问题时，要求用户联系开药医生或线下医疗机构。

            5. 可以列出就医前需要记录的信息：血糖数值、测量时间、是否空腹、症状、用药、饮食、运动、既往病史。

            6. 如果 profile 为 null，不得编造用户个人档案。

            7. 如果 latest_risk 为 null，不得引用风险等级或风险评分。

            8. 不输出 Markdown 按钮。

            9. 不输出前端路由 JSON。

            10. 不输出业务 action JSON。'
        - id: ca20720a-3358-4248-be0c-a7e8509c03df
          role: user
          text: '用户问题：

            {{#sys.query#}}'
        selected: false
        title: LLM_MedicalSafety
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782631830843'
      position:
        x: 2796
        y: 1773.3666666666668
      positionAbsolute:
        x: 2796
        y: 1773.3666666666668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1782631830843.text#}}'
        selected: false
        title: Answer_MedicalSafety
        type: answer
        variables: []
      height: 102
      id: '1782631910454'
      position:
        x: 3164.538888323849
        y: 1773.3666666666668
      positionAbsolute:
        x: 3164.538888323849
        y: 1773.3666666666668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -635.9852659928788
      y: -169.1579783142039
      zoom: 0.6241652832528567
  rag_pipeline_variables: []
