dify/糖尿病风险建议工作流.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 糖尿病风险建议工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.30@26018901445dfce76077e57c38582b44d9a91ddc4ff86370e9a769cf8e7af5b5
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tavily:0.1.10@b43f5dc49fbafc69949ee8231d600b23fb7586d514f4c72e470a86af03d2173d
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1782300238741-source-1782303172823-target
      selected: false
      source: '1782300238741'
      sourceHandle: source
      target: '1782303172823'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1782303172823-source-1782303366416-target
      selected: false
      source: '1782303172823'
      sourceHandle: source
      target: '1782303366416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: code
      id: 1782304446681-source-1782304620777-target
      selected: false
      source: '1782304446681'
      sourceHandle: source
      target: '1782304620777'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1782304620777-source-1782304669273-target
      selected: false
      source: '1782304620777'
      sourceHandle: source
      target: '1782304669273'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1782303366416-true-1782307153010-target
      selected: false
      source: '1782303366416'
      sourceHandle: 'true'
      target: '1782307153010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1782303366416-c638414f-19de-4b3c-a749-003f6953126f-17823075890470-target
      selected: false
      source: '1782303366416'
      sourceHandle: c638414f-19de-4b3c-a749-003f6953126f
      target: '17823075890470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1782303366416-false-1782307665431-target
      selected: false
      source: '1782303366416'
      sourceHandle: 'false'
      target: '1782307665431'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1782815799180-source-1782815877228-target
      selected: false
      source: '1782815799180'
      sourceHandle: source
      target: '1782815877228'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: knowledge-retrieval
      id: 1782307153010-source-1782303458783-target
      selected: false
      source: '1782307153010'
      sourceHandle: source
      target: '1782303458783'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: knowledge-retrieval
      id: 17823075890470-source-1782303461071-target
      selected: false
      source: '17823075890470'
      sourceHandle: source
      target: '1782303461071'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: knowledge-retrieval
      id: 1782307665431-source-1782303462871-target
      selected: false
      source: '1782307665431'
      sourceHandle: source
      target: '1782303462871'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1782303462871-source-17823038464070-target
      selected: false
      source: '1782303462871'
      sourceHandle: source
      target: '17823038464070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17823038464070-source-1782304446681-target
      selected: false
      source: '17823038464070'
      sourceHandle: source
      target: '1782304446681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1782303458783-source-1782815799180-target
      selected: false
      source: '1782303458783'
      sourceHandle: source
      target: '1782815799180'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1782815877228-source-1782303517088-target
      selected: false
      source: '1782815877228'
      sourceHandle: source
      target: '1782303517088'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1782303517088-source-1782304446681-target
      source: '1782303517088'
      sourceHandle: source
      target: '1782304446681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 17828880838200-source-17828880838201-target
      selected: false
      source: '17828880838200'
      sourceHandle: source
      target: '17828880838201'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1782303461071-source-17828880838200-target
      source: '1782303461071'
      sourceHandle: source
      target: '17828880838200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 17828880838201-source-17823038410660-target
      source: '17828880838201'
      sourceHandle: source
      target: '17823038410660'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17823038410660-source-1782304446681-target
      source: '17823038410660'
      sourceHandle: source
      target: '1782304446681'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: '1'
          hint: ''
          label: user_id
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
        - default: '10'
          hint: ''
          label: assessment_id
          options: []
          placeholder: ''
          required: true
          type: number
          variable: assessment_id
        - default: ''
          hint: ''
          label: diagnosed_diabetes
          options: []
          placeholder: ''
          required: true
          type: checkbox
          variable: diagnosed_diabetes
        - default: 一型
          hint: ''
          label: diabetes_type
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: diabetes_type
        - default: complete
          hint: ''
          label: score_status
          options:
          - complete
          - incomplete
          - not_applicable
          - diagnosed
          placeholder: ''
          required: true
          type: select
          variable: score_status
        - default: cdrs_2024_v1
          hint: ''
          label: score_rule_version
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: score_rule_version
        - default: '65'
          hint: ''
          label: age
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
        - default: male
          hint: ''
          label: gender
          options:
          - male
          - female
          placeholder: ''
          required: true
          type: select
          variable: gender
        - default: '170'
          hint: ''
          label: height_cm
          options: []
          placeholder: ''
          required: true
          type: number
          variable: height_cm
        - default: '85'
          hint: ''
          label: weight_kg
          options: []
          placeholder: ''
          required: true
          type: number
          variable: weight_kg
        - default: '85'
          hint: ''
          label: waist_cm
          options: []
          placeholder: ''
          required: true
          type: number
          variable: waist_cm
        - default: '110'
          hint: ''
          label: sbp_mm_hg
          options: []
          placeholder: ''
          required: true
          type: number
          variable: sbp_mm_hg
        - default: true
          hint: ''
          label: family_history_diabetes
          options: []
          placeholder: ''
          required: true
          type: checkbox
          variable: family_history_diabetes
        - default: '29.41'
          hint: ''
          label: bmi
          options: []
          placeholder: ''
          required: true
          type: number
          variable: bmi
        - default: '37'
          hint: ''
          label: score
          options: []
          placeholder: ''
          required: true
          type: number
          variable: score
        - default: high
          hint: ''
          label: risk_level
          options:
          - low
          - moderate
          - high
          - very_high
          placeholder: ''
          required: true
          type: select
          variable: risk_level
        - default: true
          hint: ''
          label: is_high_risk
          options: []
          placeholder: ''
          required: true
          type: checkbox
          variable: is_high_risk
        - default: ''
          hint: ''
          label: score_detail
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: json_object
          variable: score_detail
        - default: ''
          hint: ''
          label: missing_fields
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: json_object
          variable: missing_fields
        - default: ''
          hint: ''
          label: past_history
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: json_object
          variable: past_history
        - default: ''
          hint: ''
          label: labs
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: json_object
          variable: labs
      height: 629
      id: '1782300238741'
      position:
        x: 704
        y: 212
      positionAbsolute:
        x: 704
        y: 212
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(score_status, score_detail, diagnosed_diabetes, score, risk_level,\n\
          \         missing_fields, past_history, labs):\n    import json\n\n    error_msg\
          \ = \"\"\n\n    # ── 1. 确定用户状态（供 If-Else 分支使用） ──\n    if diagnosed_diabetes:\n\
          \        user_status = \"diagnosed\"\n    elif score_status == \"complete\"\
          :\n        user_status = \"complete\"\n    else:\n        user_status =\
          \ \"incomplete\"\n\n    # ── 2. 辅助函数：安全转为 JSON 字符串 ──\n    def safe_json_str(value,\
          \ default=\"[]\"):\n        \"\"\"把任意类型安全转成 JSON 字符串，给 LLM 节点在 Jinja2 中渲染\"\
          \"\"\n        if value is None:\n            return default\n        if\
          \ isinstance(value, str):\n            # 已经是字符串，验证是否为合法 JSON\n         \
          \   try:\n                json.loads(value)\n                return value\
          \  # 合法 JSON 字符串，直接返回\n            except (json.JSONDecodeError, TypeError):\n\
          \                return json.dumps(value, ensure_ascii=False)\n        try:\n\
          \            return json.dumps(value, ensure_ascii=False)\n        except\
          \ (TypeError, ValueError):\n            return default\n\n    # ── 3. 转换所有\
          \ JSON 对象为字符串 ──\n    score_detail_str = safe_json_str(score_detail, \"\
          {}\")\n    missing_fields_str = safe_json_str(missing_fields, \"[]\")\n\
          \    past_history_str = safe_json_str(past_history, \"[]\")\n    labs_str\
          \ = safe_json_str(labs, \"{}\")\n\n    # ── 4. 校验 score_detail 内容合法性 ──\n\
          \    try:\n        sd = json.loads(score_detail_str)\n        if not isinstance(sd,\
          \ dict):\n            error_msg = \"score_detail 不是合法对象\"\n    except json.JSONDecodeError:\n\
          \        error_msg = \"score_detail JSON 解析失败\"\n\n    valid = (error_msg\
          \ == \"\")\n\n    return {\n        \"valid\": valid,\n        \"error_msg\"\
          : error_msg,\n        \"user_status\": user_status,\n        \"score_detail_str\"\
          : score_detail_str,\n        \"missing_fields_str\": missing_fields_str,\n\
          \        \"past_history_str\": past_history_str,\n        \"labs_str\":\
          \ labs_str,\n        \"score\": score,\n        \"risk_level\": risk_level,\n\
          \    }"
        code_language: python3
        outputs:
          error_msg:
            children: null
            type: string
          labs_str:
            children: null
            type: string
          missing_fields_str:
            children: null
            type: string
          past_history_str:
            children: null
            type: string
          risk_level:
            children: null
            type: string
          score:
            children: null
            type: number
          score_detail_str:
            children: null
            type: string
          user_status:
            children: null
            type: string
          valid:
            children: null
            type: boolean
        selected: false
        title: 解析信息并转换格式
        type: code
        variables:
        - value_selector:
          - '1782300238741'
          - score_status
          value_type: string
          variable: score_status
        - value_selector:
          - '1782300238741'
          - score_detail
          value_type: object
          variable: score_detail
        - value_selector:
          - '1782300238741'
          - diagnosed_diabetes
          value_type: boolean
          variable: diagnosed_diabetes
        - value_selector:
          - '1782300238741'
          - score
          value_type: number
          variable: score
        - value_selector:
          - '1782300238741'
          - risk_level
          value_type: string
          variable: risk_level
        - value_selector:
          - '1782300238741'
          - missing_fields
          value_type: object
          variable: missing_fields
        - value_selector:
          - '1782300238741'
          - past_history
          value_type: object
          variable: past_history
        - value_selector:
          - '1782300238741'
          - labs
          value_type: object
          variable: labs
      height: 52
      id: '1782303172823'
      position:
        x: 1046
        y: 605.3333333333333
      positionAbsolute:
        x: 1046
        y: 605.3333333333333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 3c52b32c-68a4-4fbf-b70d-781d68484988
            value: diagnosed
            varType: string
            variable_selector:
            - '1782303172823'
            - user_status
          id: 'true'
          logical_operator: and
        - case_id: c638414f-19de-4b3c-a749-003f6953126f
          conditions:
          - comparison_operator: is
            id: 7d64af55-38e0-4d5e-a4f5-852b4af60227
            value: complete
            varType: string
            variable_selector:
            - '1782303172823'
            - user_status
          id: c638414f-19de-4b3c-a749-003f6953126f
          logical_operator: and
        selected: false
        title: 检测用户状态
        type: if-else
      height: 220
      id: '1782303366416'
      position:
        x: 1388
        y: 530
      positionAbsolute:
        x: 1388
        y: 530
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 03LFMPvHUziryxfu0y2BiycXc0TQg5P5cPlUMryw5JNMjA+GA29+df95u46QaKKZ
        - 7dyf2RLDhahnaUqa7ymIZ+MQCFzxXUk9A9a5rNI1k/t3VKxDkFdc0CKcWckLSOAb
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: embedding-3
              embedding_provider_name: langgenius/zhipuai/zhipuai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1782307153010'
        - output
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 118
      id: '1782303458783'
      position:
        x: 2154.9908402441297
        y: 361.48758123352906
      positionAbsolute:
        x: 2154.9908402441297
        y: 361.48758123352906
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - eztGIn+ikokPjwjr2WCtA7z7dalY4YIobBTpRAWsBcIQunsnXYs60STovbogxYKb
        - 7dyf2RLDhahnaUqa7ymIZ+MQCFzxXUk9A9a5rNI1k/t3VKxDkFdc0CKcWckLSOAb
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: embedding-3
              embedding_provider_name: langgenius/zhipuai/zhipuai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '17823075890470'
        - output
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 118
      id: '1782303461071'
      position:
        x: 2154.9908402441297
        y: 559.487581233529
      positionAbsolute:
        x: 2154.9908402441297
        y: 559.487581233529
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 7dyf2RLDhahnaUqa7ymIZ+MQCFzxXUk9A9a5rNI1k/t3VKxDkFdc0CKcWckLSOAb
        - eztGIn+ikokPjwjr2WCtA7z7dalY4YIobBTpRAWsBcIQunsnXYs60STovbogxYKb
        - 03LFMPvHUziryxfu0y2BiycXc0TQg5P5cPlUMryw5JNMjA+GA29+df95u46QaKKZ
        - 76hz3pdiQkWtkncPYfXxHwziGgpt8VdwRluTzkdlUR+AY+0dPc385nR376j45lPV
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: embedding-3
              embedding_provider_name: langgenius/zhipuai/zhipuai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1782307665431'
        - output
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 174
      id: '1782303462871'
      position:
        x: 2154.9908402441297
        y: 757.4875812335292
      positionAbsolute:
        x: 2154.9908402441297
        y: 757.4875812335292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1782303458783'
          - result
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 70630202-ca79-4c27-80ed-a90c5f1894b6
          role: system
          text: "你是一名专业的糖尿病健康管理师。用户已确诊糖尿病，请根据提供的知识库内容，\n为用户生成结构化的疾病管理建议。\n\n知识库信息：\n\
            {{#context#}}\n\n网络检索信息：\n{{#1782815877228.text#}}\n\n输出要求：\n1. 必须以严格的\
            \ JSON 格式输出，不要输出任何其他内容\n2. 所有字段必须填写，不能为空\n3. 建议必须基于知识库内容，不得编造\n\n输出 JSON\
            \ 结构：\n{\n  \"advice\": {\n    \"summary\": \"一句话总结用户当前情况和核心建议\",\n  \
            \  \"diet\": [\"饮食建议1\", \"饮食建议2\", \"饮食建议3\"],\n    \"exercise\": [\"\
            运动建议1\", \"运动建议2\"],\n    \"review\": [\"复查建议1\", \"复查建议2\"],\n    \"\
            warning\": \"本结果仅用于健康管理参考，不作为医学诊断。如有不适请及时就医。\"\n  }\n}"
        - id: e9889f66-937e-4af9-a1a0-6190f9ddde9f
          role: user
          text: '用户信息：

            - 年龄：{{#1782300238741.age#}}岁

            - 性别：{{#1782300238741.gender#}}

            - BMI：{{#1782300238741.bmi#}}

            - 风险评分：{{#1782300238741.score#}}分

            - 风险等级：{{#1782303172823.risk_level#}}

            - 评分明细：{{#1782303172823.score_detail_str#}}

            - 既往病史：{{#1782303172823.past_history_str#}}


            请生成个性化糖尿病管理建议。'
        reasoning_format: separated
        selected: false
        structured_output:
          schema:
            properties:
              advice:
                properties:
                  diet:
                    items:
                      type: string
                    type: array
                  exercise:
                    items:
                      type: string
                    type: array
                  review:
                    items:
                      type: string
                    type: array
                  summary:
                    type: string
                  warning:
                    type: string
                required:
                - summary
                - diet
                - exercise
                - review
                - warning
                type: object
            required:
            - advice
            type: object
        structured_output_enabled: true
        title: 健康管理师（服务确诊患者）
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782303517088'
      position:
        x: 3449.0820327641445
        y: 357.48758123352906
      positionAbsolute:
        x: 3449.0820327641445
        y: 357.48758123352906
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1782303461071'
          - result
        desc: ''
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 70630202-ca79-4c27-80ed-a90c5f1894b6
          role: system
          text: "你是一名糖尿病预防健康顾问。用户未确诊糖尿病但通过风险筛查评估，\n请根据知识库内容生成结构化的风险解释和预防建议。\n\n知识库信息：{{#context#}}\n\
            \n网络检索信息：\n{{#17828880838201.text#}}\n\n输出要求：\n1. 必须以严格的 JSON 格式输出，不要输出任何其他内容\n\
            2. 所有字段必须填写，不能为空\n3. 建议必须基于知识库内容，不得编造\n\n输出 JSON 结构：\n{\n  \"advice\"\
            : {\n    \"summary\": \"一句话总结用户当前情况和核心建议\",\n    \"diet\": [\"饮食建议1\"\
            , \"饮食建议2\", \"饮食建议3\"],\n    \"exercise\": [\"运动建议1\", \"运动建议2\"],\n\
            \    \"review\": [\"复查建议1\", \"复查建议2\"],\n    \"warning\": \"本结果仅用于健康管理参考，不作为医学诊断。如有不适请及时就医。\"\
            \n  }\n}"
        - id: e9889f66-937e-4af9-a1a0-6190f9ddde9f
          role: user
          text: '用户信息：

            - 年龄：{{#1782300238741.age#}}岁

            - BMI：{{#1782300238741.bmi#}}

            - 腰围：{{#1782300238741.waist_cm#}}cm

            - 血压：{{#1782300238741.sbp_mm_hg#}}mmHg

            - 家族史：

            - 风险评分：{{#1782303172823.score#}}分（高风险阈值通常≥25分）

            - 风险等级：{{#1782303172823.risk_level#}}

            - 评分明细：{{#1782303172823.score_detail_str#}}


            请生成风险解释和预防建议。'
        reasoning_format: separated
        selected: false
        structured_output:
          schema:
            properties:
              advice:
                properties:
                  diet:
                    items:
                      type: string
                    type: array
                  exercise:
                    items:
                      type: string
                    type: array
                  review:
                    items:
                      type: string
                    type: array
                  summary:
                    type: string
                  warning:
                    type: string
                required:
                - summary
                - diet
                - exercise
                - review
                - warning
                type: object
            required:
            - advice
            type: object
        structured_output_enabled: true
        title: 健康顾问（服务未确诊用户）
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17823038410660'
      position:
        x: 3457.092731427073
        y: 555.487581233529
      positionAbsolute:
        x: 3457.092731427073
        y: 555.487581233529
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1782303462871'
          - result
        desc: ''
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            response_format: json_object
            temperature: 0.3
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 70630202-ca79-4c27-80ed-a90c5f1894b6
          role: system
          text: "你是一名健康顾问。用户资料不完整，无法完成正式风险评估。\n请根据知识库内容，给出补充资料指引和一般健康建议。\n\n知识库信息：{{#context#}}\n\
            \n\n输出要求：\n1. 必须以严格的 JSON 格式输出，不要输出任何其他内容\n2. 所有字段必须填写，不能为空\n3. 建议必须基于知识库内容，不得编造\n\
            \n输出 JSON 结构：\n{\n  \"advice\": {\n    \"summary\": \"一句话总结用户当前情况和核心建议\"\
            ,\n    \"diet\": [\"饮食建议1\", \"饮食建议2\", \"饮食建议3\"],\n    \"exercise\"\
            : [\"运动建议1\", \"运动建议2\"],\n    \"review\": [\"复查建议1\", \"复查建议2\"],\n \
            \   \"warning\": \"本结果仅用于健康管理参考，不作为医学诊断。如有不适请及时就医。\"\n  }\n}"
        - id: e9889f66-937e-4af9-a1a0-6190f9ddde9f
          role: user
          text: ''
        reasoning_format: separated
        selected: true
        structured_output:
          schema:
            properties:
              advice:
                properties:
                  diet:
                    items:
                      type: string
                    type: array
                  exercise:
                    items:
                      type: string
                    type: array
                  review:
                    items:
                      type: string
                    type: array
                  summary:
                    type: string
                  warning:
                    type: string
                required:
                - summary
                - diet
                - exercise
                - review
                - warning
                type: object
            required:
            - advice
            type: object
        structured_output_enabled: true
        title: 兜底顾问
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17823038464070'
      position:
        x: 3457.092731427073
        y: 753.4875812335292
      positionAbsolute:
        x: 3457.092731427073
        y: 753.4875812335292
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: 704b00e4-3342-4f91-a556-f89707914890
            group_name: Group1
            output_type: string
            variables:
            - - '1782303517088'
              - text
        output_type: string
        selected: false
        title: 收束回答
        type: variable-aggregator
        variables:
        - - '1782303517088'
          - text
        - - '17823038464070'
          - text
        - - '17823038410660'
          - text
      height: 162
      id: '1782304446681'
      position:
        x: 3814.286312229316
        y: 555.487581233529
      positionAbsolute:
        x: 3814.286312229316
        y: 555.487581233529
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(arg1):\n    import json\n    \n    # 兜底建议\n    fallback =\
          \ {\n        \"advice\": {\n            \"summary\": \"系统暂时无法生成个性化建议，请参考通用健康指导。\"\
          ,\n            \"diet\": [\"均衡饮食，控制总热量摄入\", \"多吃蔬菜水果，减少高糖高脂食物\"],\n    \
          \        \"exercise\": [\"每周至少150分钟中等强度运动\", \"饭后散步30分钟\"],\n          \
          \  \"review\": [\"建议完善个人健康信息后重新评估\"],\n            \"warning\": \"本结果仅用于健康管理参考，不作为医学诊断。如有不适请及时就医。\"\
          \n        }\n    }\n    \n    try:\n        # 尝试解析 LLM 输出的 JSON\n      \
          \  text = arg1.strip()\n        \n        # 移除可能的 markdown 代码块标记\n     \
          \   if text.startswith(\"```\"):\n            lines = text.split(\"\\n\"\
          )\n            text = \"\\n\".join(lines[1:-1] if lines[-1].strip() == \"\
          ```\" else lines[1:])\n        \n        data = json.loads(text)\n     \
          \   \n        # 校验必需字段\n        advice = data.get(\"advice\", {})\n    \
          \    required = [\"summary\", \"diet\", \"exercise\", \"review\", \"warning\"\
          ]\n        \n        for field in required:\n            if field not in\
          \ advice or not advice[field]:\n                return {\"advice\": fallback[\"\
          advice\"], \"valid\": False}\n        \n        # 确保数组字段确实是数组\n        for\
          \ arr_field in [\"diet\", \"exercise\", \"review\"]:\n            if not\
          \ isinstance(advice[arr_field], list):\n                advice[arr_field]\
          \ = [str(advice[arr_field])]\n        \n        return {\"advice\": advice,\
          \ \"valid\": True}\n        \n    except (json.JSONDecodeError, KeyError,\
          \ TypeError) as e:\n        return {\"advice\": fallback[\"advice\"], \"\
          valid\": False}"
        code_language: python3
        outputs:
          advice:
            children: null
            type: object
          valid:
            children: null
            type: boolean
        selected: false
        title: 格式校验
        type: code
        variables:
        - value_selector:
          - '1782304446681'
          - output
          value_type: string
          variable: arg1
      height: 52
      id: '1782304620777'
      position:
        x: 4154.922408065395
        y: 555.487581233529
      positionAbsolute:
        x: 4154.922408065395
        y: 555.487581233529
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782304620777'
          - advice
          value_type: object
          variable: advice
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1782304669273'
      position:
        x: 4495.082032764145
        y: 555.487581233529
      positionAbsolute:
        x: 4495.082032764145
        y: 555.487581233529
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "用户已确诊糖尿病。\r\n年龄{{ age }}岁，性别{{ gender }}，\r\nBMI {{ bmi }}，腰围{{\
          \ waist_cm }}cm，\r\n收缩压{{ sbp_mm_hg }}mmHg，\r\n糖尿病类型：{{ diabetes_type }}，\r\
          \n风险评分{{ score }}分，风险等级{{ risk_level }}。\r\n评分明细{{ score_detail }}。\r\n\
          既往病史{{ past_history }}。\r\n请检索糖尿病疾病管理、饮食运动、用药监测相关知识。\r\n\r\n"
        title: 拼接检索关键词1
        type: template-transform
        variables:
        - value_selector:
          - '1782300238741'
          - age
          variable: age
        - value_selector:
          - '1782300238741'
          - gender
          variable: gender
        - value_selector:
          - '1782300238741'
          - bmi
          variable: bmi
        - value_selector:
          - '1782300238741'
          - waist_cm
          variable: waist_cm
        - value_selector:
          - '1782300238741'
          - sbp_mm_hg
          variable: sbp_mm_hg
        - value_selector:
          - '1782300238741'
          - diabetes_type
          variable: diabetes_type
        - value_selector:
          - '1782303172823'
          - score
          variable: score
        - value_selector:
          - '1782303172823'
          - risk_level
          variable: risk_level
        - value_selector:
          - '1782300238741'
          - score_detail
          variable: score_detail
        - value_selector:
          - '1782300238741'
          - past_history
          variable: past_history
      height: 52
      id: '1782307153010'
      position:
        x: 1750
        y: 361.48758123352906
      positionAbsolute:
        x: 1750
        y: 361.48758123352906
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        template: "用户未确诊糖尿病，已完成风险评估。\r\n年龄{{ age }}岁，性别{{ gender }}，\r\n身高{{ height_cm\
          \ }}cm，体重{{ weight_kg }}kg，\r\nBMI {{ bmi }}，腰围{{ waist_cm }}cm，\r\n收缩压{{\
          \ sbp_mm_hg }}mmHg，\r\n糖尿病家族史：{{ past_history }}。\r\n风险评分{{ score_1 }}分，风险等级{{\
          \ risk_level }}，\r\n是否高风险：{{ is_high_risk }}。\r\n评分明细：{{ score_detail_str\
          \ }}。\r\n既往病史：{{ past_history_str }}。\r\n请检索糖尿病预防筛查、生活方式干预和风险评估相关知识。"
        title: 拼接检索关键词2
        type: template-transform
        variables:
        - value_selector:
          - '1782300238741'
          - age
          variable: age
        - value_selector:
          - '1782300238741'
          - gender
          variable: gender
        - value_selector:
          - '1782300238741'
          - bmi
          variable: bmi
        - value_selector:
          - '1782300238741'
          - waist_cm
          variable: waist_cm
        - value_selector:
          - '1782300238741'
          - sbp_mm_hg
          variable: sbp_mm_hg
        - value_selector:
          - '1782300238741'
          - diabetes_type
          variable: diabetes_type
        - value_selector:
          - '1782303172823'
          - score
          variable: score
        - value_selector:
          - '1782303172823'
          - risk_level
          variable: risk_level
        - value_selector:
          - '1782300238741'
          - score_detail
          variable: score_detail
        - value_selector:
          - '1782300238741'
          - past_history
          variable: past_history
        - value_selector:
          - '1782300238741'
          - height_cm
          variable: height_cm
        - value_selector:
          - '1782300238741'
          - weight_kg
          variable: weight_kg
        - value_selector:
          - '1782300238741'
          - score
          variable: score_1
        - value_selector:
          - '1782300238741'
          - is_high_risk
          variable: is_high_risk
        - value_selector:
          - '1782303172823'
          - past_history_str
          variable: past_history_str
        - value_selector:
          - '1782303172823'
          - score_detail_str
          variable: score_detail_str
      height: 52
      id: '17823075890470'
      position:
        x: 1750
        y: 559.487581233529
      positionAbsolute:
        x: 1750
        y: 559.487581233529
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "用户健康资料不完整，无法完成正式糖尿病风险评估。\r\n年龄{{ age }}岁，性别{{ gender }}。\r\n已知信息：\r\
          \n评分明细：{{ score_detail_str }}，\r\n缺失字段：{{ missing_fields_str }}。\r\n请检索一般健康生活方式建议和资料补充指引。"
        title: 拼接检索关键词3
        type: template-transform
        variables:
        - value_selector:
          - '1782300238741'
          - age
          variable: age
        - value_selector:
          - '1782300238741'
          - gender
          variable: gender
        - value_selector:
          - '1782303172823'
          - score_detail_str
          variable: score_detail_str
        - value_selector:
          - '1782303172823'
          - missing_fields_str
          variable: missing_fields_str
      height: 52
      id: '1782307665431'
      position:
        x: 1750
        y: 757.4875812335292
      positionAbsolute:
        x: 1750
        y: 757.4875812335292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            reasoning_effort: high
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 34ca0fdd-8460-4a12-8f46-83be337bfd78
          role: system
          text: '


            作为一名善于从患者信息中筛选网络检索关键词的工作人员，你需要根据以下用户信息：

            {{#1782307153010.output#}}


            形成一句简短的搜索关键词，以一句话输出，不要有多余的太长的无关输出。


            例如：

            对于...样的糖尿病患者的健康管理建议'
        selected: false
        title: 检索关键词生成
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782815799180'
      position:
        x: 2489.154580105593
        y: 178.86190703810792
      positionAbsolute:
        x: 2489.154580105593
        y: 178.86190703810792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query you want to execute with Tavily.
            ja_JP: The search query you want to execute with Tavily.
            pt_BR: The search query you want to execute with Tavily.
            zh_Hans: 您想用 Tavily 执行的搜索查询。
          label:
            en_US: Query
            ja_JP: Query
            pt_BR: Query
            zh_Hans: 查询
          llm_description: The search query.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: basic
          form: llm
          human_description:
            en_US: The depth of the search.
            ja_JP: The depth of the search.
            pt_BR: The depth of the search.
            zh_Hans: 搜索的深度。
          label:
            en_US: Search Depth
            ja_JP: Search Depth
            pt_BR: Search Depth
            zh_Hans: 搜索深度
          llm_description: The depth of the search. 'basic' for standard search, 'advanced'
            for comprehensive results, 'fast' for quick results, 'ultra-fast' for
            fastest results with minimal processing.
          max: null
          min: null
          name: search_depth
          options:
          - icon: ''
            label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - icon: ''
            label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          - icon: ''
            label:
              en_US: Fast
              ja_JP: Fast
              pt_BR: Fast
              zh_Hans: 快速
            value: fast
          - icon: ''
            label:
              en_US: Ultra Fast
              ja_JP: Ultra Fast
              pt_BR: Ultra Fast
              zh_Hans: 超快速
            value: ultra-fast
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: general
          form: llm
          human_description:
            en_US: The category of the search.
            ja_JP: The category of the search.
            pt_BR: The category of the search.
            zh_Hans: 搜索的类别。
          label:
            en_US: Topic
            ja_JP: Topic
            pt_BR: Topic
            zh_Hans: 主题
          llm_description: The category of the search. Valid options are 'general',
            'news', and 'finance'.
          max: null
          min: null
          name: topic
          options:
          - icon: ''
            label:
              en_US: General
              ja_JP: General
              pt_BR: General
              zh_Hans: 一般
            value: general
          - icon: ''
            label:
              en_US: News
              ja_JP: News
              pt_BR: News
              zh_Hans: 新闻
            value: news
          - icon: ''
            label:
              en_US: Finance
              ja_JP: Finance
              pt_BR: Finance
              zh_Hans: 金融
            value: finance
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: not_specified
          form: llm
          human_description:
            en_US: The time range back from the current date to filter results.
            ja_JP: The time range back from the current date to filter results.
            pt_BR: The time range back from the current date to filter results.
            zh_Hans: 从当前日期起向后筛选结果的时间范围。
          label:
            en_US: Time Range
            ja_JP: Time Range
            pt_BR: Time Range
            zh_Hans: 时间范围
          llm_description: The time range back from the current date to filter results.
            Valid options are 'not_specified', 'day', 'week', 'month', and 'year'.
            When time_range is set, do not set start_date or end_date.
          max: null
          min: null
          name: time_range
          options:
          - icon: ''
            label:
              en_US: Not Specified
              ja_JP: Not Specified
              pt_BR: Not Specified
              zh_Hans: 不指定
            value: not_specified
          - icon: ''
            label:
              en_US: Day
              ja_JP: Day
              pt_BR: Day
              zh_Hans: 天
            value: day
          - icon: ''
            label:
              en_US: Week
              ja_JP: Week
              pt_BR: Week
              zh_Hans: 周
            value: week
          - icon: ''
            label:
              en_US: Month
              ja_JP: Month
              pt_BR: Month
              zh_Hans: 月
            value: month
          - icon: ''
            label:
              en_US: Year
              ja_JP: Year
              pt_BR: Year
              zh_Hans: 年
            value: year
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            ja_JP: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            pt_BR: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            zh_Hans: 筛选结果的开始日期。必须以YYYY-MM-DD格式编写。
          label:
            en_US: Start Date
            ja_JP: Start Date
            pt_BR: Start Date
            zh_Hans: 开始日期
          llm_description: The start date for filtering results. Required to be written
            in the format YYYY-MM-DD. Results will be filtered to include content
            from this date onwards. When time_range is set, do not set start_date
            or end_date.
          max: null
          min: null
          name: start_date
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            ja_JP: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            pt_BR: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            zh_Hans: 筛选结果的结束日期。必须以YYYY-MM-DD格式编写。
          label:
            en_US: End Date
            ja_JP: End Date
            pt_BR: End Date
            zh_Hans: 结束日期
          llm_description: The end date for filtering results. Required to be written
            in the format YYYY-MM-DD. Results will be filtered to include content
            up to this date. When time_range is set, do not set start_date or end_date.
          max: null
          min: null
          name: end_date
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Automatically configure search parameters based on query content
              and intent.
            ja_JP: Automatically configure search parameters based on query content
              and intent.
            pt_BR: Automatically configure search parameters based on query content
              and intent.
            zh_Hans: 根据查询内容和意图自动配置搜索参数。
          label:
            en_US: Auto Parameters
            ja_JP: Auto Parameters
            pt_BR: Auto Parameters
            zh_Hans: 自动参数
          llm_description: When set to true, Tavily automatically configures search
            parameters based on your query.
          max: null
          min: null
          name: auto_parameters
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a list of query-related images in the response.
            ja_JP: Include a list of query-related images in the response.
            pt_BR: Include a list of query-related images in the response.
            zh_Hans: 在响应中包含与查询相关的图片列表。
          label:
            en_US: Include Images
            ja_JP: Include Images
            pt_BR: Include Images
            zh_Hans: 包含图片
          llm_description: When set to true, includes a list of query-related images
            in the response.
          max: null
          min: null
          name: include_images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: When include_images is True, adds descriptive text for each image.
            ja_JP: When include_images is True, adds descriptive text for each image.
            pt_BR: When include_images is True, adds descriptive text for each image.
            zh_Hans: 当 include_images 为 True 时，为每个图像添加描述文本。
          label:
            en_US: Include Image Descriptions
            ja_JP: Include Image Descriptions
            pt_BR: Include Image Descriptions
            zh_Hans: 包含图片描述
          llm_description: When include_images is True and this is set to true, adds
            descriptive text for each image.
          max: null
          min: null
          name: include_image_descriptions
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include favicon URL for each result.
            ja_JP: Include favicon URL for each result.
            pt_BR: Include favicon URL for each result.
            zh_Hans: 包含每个结果的favicon URL。
          label:
            en_US: Include Favicon
            ja_JP: Include Favicon
            pt_BR: Include Favicon
            zh_Hans: 包含Favicon
          llm_description: When set to true, includes the favicon URL for each result.
          max: null
          min: null
          name: include_favicon
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            ja_JP: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            pt_BR: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            zh_Hans: 在回复中包含对原始问题的简短回答。对于简要回答，请使用“基本”或“是”；对于更详细、更全面的回答，请使用“高级”。
          label:
            en_US: Include Answer
            ja_JP: Include Answer
            pt_BR: Include Answer
            zh_Hans: 包含答案
          llm_description: When set to true or 'basic', includes a short answer to
            the original query in the response. Use 'advanced' for a more detailed,
            comprehensive answer.
          max: null
          min: null
          name: include_answer
          options:
          - icon: ''
            label:
              en_US: 'False'
              ja_JP: 'False'
              pt_BR: 'False'
              zh_Hans: 否
            value: 'false'
          - icon: ''
            label:
              en_US: 'True'
              ja_JP: 'True'
              pt_BR: 'True'
              zh_Hans: 是
            value: 'true'
          - icon: ''
            label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - icon: ''
            label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            ja_JP: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            pt_BR: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            zh_Hans: 包含每个搜索结果的已清理和解析的HTML内容。使用 Markdown 格式请选择 Markdown 选项，使用纯文本请选择文本选项。
          label:
            en_US: Include Raw Content
            ja_JP: Include Raw Content
            pt_BR: Include Raw Content
            zh_Hans: 包含原始内容
          llm_description: Include the cleaned and parsed content of each search result.
            'false' to disable, 'true' or 'markdown' for markdown format, 'text' for
            plain text format.
          max: null
          min: null
          name: include_raw_content
          options:
          - icon: ''
            label:
              en_US: 'False'
              ja_JP: 'False'
              pt_BR: 'False'
              zh_Hans: 否
            value: 'false'
          - icon: ''
            label:
              en_US: 'True'
              ja_JP: 'True'
              pt_BR: 'True'
              zh_Hans: 是
            value: 'true'
          - icon: ''
            label:
              en_US: Markdown
              ja_JP: Markdown
              pt_BR: Markdown
              zh_Hans: Markdown
            value: markdown
          - icon: ''
            label:
              en_US: Text
              ja_JP: Text
              pt_BR: Text
              zh_Hans: 纯文本
            value: text
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include API usage information (token counts, credits used) in the
              response.
            ja_JP: Include API usage information (token counts, credits used) in the
              response.
            pt_BR: Include API usage information (token counts, credits used) in the
              response.
            zh_Hans: 在响应中包含API使用信息（token计数、使用的积分）。
          label:
            en_US: Include Usage
            ja_JP: Include Usage
            pt_BR: Include Usage
            zh_Hans: 包含使用信息
          llm_description: When set to true, includes API usage information such as
            token counts and credits used in the response.
          max: null
          min: null
          name: include_usage
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 5
          form: form
          human_description:
            en_US: The maximum number of search results to return.
            ja_JP: The maximum number of search results to return.
            pt_BR: The maximum number of search results to return.
            zh_Hans: 要返回的最大搜索结果数。
          label:
            en_US: Max Results
            ja_JP: Max Results
            pt_BR: Max Results
            zh_Hans: 最大结果数
          llm_description: The maximum number of search results to return. Range is
            1-20.
          max: 20
          min: 1
          name: max_results
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 3
          form: form
          human_description:
            en_US: Maximum number of content chunks returned per source (advanced
              and fast search only).
            ja_JP: Maximum number of content chunks returned per source (advanced
              and fast search only).
            pt_BR: Maximum number of content chunks returned per source (advanced
              and fast search only).
            zh_Hans: 每个来源返回的内容片段的最大数量（仅限高级和快速搜索）。
          label:
            en_US: Chunks Per Source
            ja_JP: Chunks Per Source
            pt_BR: Chunks Per Source
            zh_Hans: 每来源片段数
          llm_description: Maximum number of relevant content chunks (1-3) returned
            per source. Valid when search_depth is 'advanced' or 'fast'.
          max: 3
          min: 1
          name: chunks_per_source
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Boost search results for a specific country (topic must be general).
            ja_JP: Boost search results for a specific country (topic must be general).
            pt_BR: Boost search results for a specific country (topic must be general).
            zh_Hans: 从特定国家/地区提升搜索结果（主题必须是general）。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Select a country to boost results only when topic is general.
            Use one of the exact option values.
          max: null
          min: null
          name: country
          options:
          - icon: ''
            label:
              en_US: Afghanistan
              ja_JP: Afghanistan
              pt_BR: Afghanistan
              zh_Hans: 阿富汗
            value: afghanistan
          - icon: ''
            label:
              en_US: Albania
              ja_JP: Albania
              pt_BR: Albania
              zh_Hans: 阿尔巴尼亚
            value: albania
          - icon: ''
            label:
              en_US: Algeria
              ja_JP: Algeria
              pt_BR: Algeria
              zh_Hans: 阿尔及利亚
            value: algeria
          - icon: ''
            label:
              en_US: Andorra
              ja_JP: Andorra
              pt_BR: Andorra
              zh_Hans: 安道尔
            value: andorra
          - icon: ''
            label:
              en_US: Angola
              ja_JP: Angola
              pt_BR: Angola
              zh_Hans: 安哥拉
            value: angola
          - icon: ''
            label:
              en_US: Argentina
              ja_JP: Argentina
              pt_BR: Argentina
              zh_Hans: 阿根廷
            value: argentina
          - icon: ''
            label:
              en_US: Armenia
              ja_JP: Armenia
              pt_BR: Armenia
              zh_Hans: 亚美尼亚
            value: armenia
          - icon: ''
            label:
              en_US: Australia
              ja_JP: Australia
              pt_BR: Australia
              zh_Hans: 澳大利亚
            value: australia
          - icon: ''
            label:
              en_US: Austria
              ja_JP: Austria
              pt_BR: Austria
              zh_Hans: 奥地利
            value: austria
          - icon: ''
            label:
              en_US: Azerbaijan
              ja_JP: Azerbaijan
              pt_BR: Azerbaijan
              zh_Hans: 阿塞拜疆
            value: azerbaijan
          - icon: ''
            label:
              en_US: Bahamas
              ja_JP: Bahamas
              pt_BR: Bahamas
              zh_Hans: 巴哈马
            value: bahamas
          - icon: ''
            label:
              en_US: Bahrain
              ja_JP: Bahrain
              pt_BR: Bahrain
              zh_Hans: 巴林
            value: bahrain
          - icon: ''
            label:
              en_US: Bangladesh
              ja_JP: Bangladesh
              pt_BR: Bangladesh
              zh_Hans: 孟加拉国
            value: bangladesh
          - icon: ''
            label:
              en_US: Barbados
              ja_JP: Barbados
              pt_BR: Barbados
              zh_Hans: 巴巴多斯
            value: barbados
          - icon: ''
            label:
              en_US: Belarus
              ja_JP: Belarus
              pt_BR: Belarus
              zh_Hans: 白俄罗斯
            value: belarus
          - icon: ''
            label:
              en_US: Belgium
              ja_JP: Belgium
              pt_BR: Belgium
              zh_Hans: 比利时
            value: belgium
          - icon: ''
            label:
              en_US: Belize
              ja_JP: Belize
              pt_BR: Belize
              zh_Hans: 伯利兹
            value: belize
          - icon: ''
            label:
              en_US: Benin
              ja_JP: Benin
              pt_BR: Benin
              zh_Hans: 贝宁
            value: benin
          - icon: ''
            label:
              en_US: Bhutan
              ja_JP: Bhutan
              pt_BR: Bhutan
              zh_Hans: 不丹
            value: bhutan
          - icon: ''
            label:
              en_US: Bolivia
              ja_JP: Bolivia
              pt_BR: Bolivia
              zh_Hans: 玻利维亚
            value: bolivia
          - icon: ''
            label:
              en_US: Bosnia and Herzegovina
              ja_JP: Bosnia and Herzegovina
              pt_BR: Bosnia and Herzegovina
              zh_Hans: 波斯尼亚和黑塞哥维那
            value: bosnia and herzegovina
          - icon: ''
            label:
              en_US: Botswana
              ja_JP: Botswana
              pt_BR: Botswana
              zh_Hans: 博茨瓦纳
            value: botswana
          - icon: ''
            label:
              en_US: Brazil
              ja_JP: Brazil
              pt_BR: Brazil
              zh_Hans: 巴西
            value: brazil
          - icon: ''
            label:
              en_US: Brunei
              ja_JP: Brunei
              pt_BR: Brunei
              zh_Hans: 文莱
            value: brunei
          - icon: ''
            label:
              en_US: Bulgaria
              ja_JP: Bulgaria
              pt_BR: Bulgaria
              zh_Hans: 保加利亚
            value: bulgaria
          - icon: ''
            label:
              en_US: Burkina Faso
              ja_JP: Burkina Faso
              pt_BR: Burkina Faso
              zh_Hans: 布基纳法索
            value: burkina faso
          - icon: ''
            label:
              en_US: Burundi
              ja_JP: Burundi
              pt_BR: Burundi
              zh_Hans: 布隆迪
            value: burundi
          - icon: ''
            label:
              en_US: Cambodia
              ja_JP: Cambodia
              pt_BR: Cambodia
              zh_Hans: 柬埔寨
            value: cambodia
          - icon: ''
            label:
              en_US: Cameroon
              ja_JP: Cameroon
              pt_BR: Cameroon
              zh_Hans: 喀麦隆
            value: cameroon
          - icon: ''
            label:
              en_US: Canada
              ja_JP: Canada
              pt_BR: Canada
              zh_Hans: 加拿大
            value: canada
          - icon: ''
            label:
              en_US: Cape Verde
              ja_JP: Cape Verde
              pt_BR: Cape Verde
              zh_Hans: 佛得角
            value: cape verde
          - icon: ''
            label:
              en_US: Central African Republic
              ja_JP: Central African Republic
              pt_BR: Central African Republic
              zh_Hans: 中非共和国
            value: central african republic
          - icon: ''
            label:
              en_US: Chad
              ja_JP: Chad
              pt_BR: Chad
              zh_Hans: 乍得
            value: chad
          - icon: ''
            label:
              en_US: Chile
              ja_JP: Chile
              pt_BR: Chile
              zh_Hans: 智利
            value: chile
          - icon: ''
            label:
              en_US: China
              ja_JP: China
              pt_BR: China
              zh_Hans: 中国
            value: china
          - icon: ''
            label:
              en_US: Colombia
              ja_JP: Colombia
              pt_BR: Colombia
              zh_Hans: 哥伦比亚
            value: colombia
          - icon: ''
            label:
              en_US: Comoros
              ja_JP: Comoros
              pt_BR: Comoros
              zh_Hans: 科摩罗
            value: comoros
          - icon: ''
            label:
              en_US: Congo
              ja_JP: Congo
              pt_BR: Congo
              zh_Hans: 刚果
            value: congo
          - icon: ''
            label:
              en_US: Costa Rica
              ja_JP: Costa Rica
              pt_BR: Costa Rica
              zh_Hans: 哥斯达黎加
            value: costa rica
          - icon: ''
            label:
              en_US: Croatia
              ja_JP: Croatia
              pt_BR: Croatia
              zh_Hans: 克罗地亚
            value: croatia
          - icon: ''
            label:
              en_US: Cuba
              ja_JP: Cuba
              pt_BR: Cuba
              zh_Hans: 古巴
            value: cuba
          - icon: ''
            label:
              en_US: Cyprus
              ja_JP: Cyprus
              pt_BR: Cyprus
              zh_Hans: 塞浦路斯
            value: cyprus
          - icon: ''
            label:
              en_US: Czech Republic
              ja_JP: Czech Republic
              pt_BR: Czech Republic
              zh_Hans: 捷克共和国
            value: czech republic
          - icon: ''
            label:
              en_US: Denmark
              ja_JP: Denmark
              pt_BR: Denmark
              zh_Hans: 丹麦
            value: denmark
          - icon: ''
            label:
              en_US: Djibouti
              ja_JP: Djibouti
              pt_BR: Djibouti
              zh_Hans: 吉布提
            value: djibouti
          - icon: ''
            label:
              en_US: Dominican Republic
              ja_JP: Dominican Republic
              pt_BR: Dominican Republic
              zh_Hans: 多米尼加共和国
            value: dominican republic
          - icon: ''
            label:
              en_US: Ecuador
              ja_JP: Ecuador
              pt_BR: Ecuador
              zh_Hans: 厄瓜多尔
            value: ecuador
          - icon: ''
            label:
              en_US: Egypt
              ja_JP: Egypt
              pt_BR: Egypt
              zh_Hans: 埃及
            value: egypt
          - icon: ''
            label:
              en_US: El Salvador
              ja_JP: El Salvador
              pt_BR: El Salvador
              zh_Hans: 萨尔瓦多
            value: el salvador
          - icon: ''
            label:
              en_US: Equatorial Guinea
              ja_JP: Equatorial Guinea
              pt_BR: Equatorial Guinea
              zh_Hans: 赤道几内亚
            value: equatorial guinea
          - icon: ''
            label:
              en_US: Eritrea
              ja_JP: Eritrea
              pt_BR: Eritrea
              zh_Hans: 厄立特里亚
            value: eritrea
          - icon: ''
            label:
              en_US: Estonia
              ja_JP: Estonia
              pt_BR: Estonia
              zh_Hans: 爱沙尼亚
            value: estonia
          - icon: ''
            label:
              en_US: Ethiopia
              ja_JP: Ethiopia
              pt_BR: Ethiopia
              zh_Hans: 埃塞俄比亚
            value: ethiopia
          - icon: ''
            label:
              en_US: Fiji
              ja_JP: Fiji
              pt_BR: Fiji
              zh_Hans: 斐济
            value: fiji
          - icon: ''
            label:
              en_US: Finland
              ja_JP: Finland
              pt_BR: Finland
              zh_Hans: 芬兰
            value: finland
          - icon: ''
            label:
              en_US: France
              ja_JP: France
              pt_BR: France
              zh_Hans: 法国
            value: france
          - icon: ''
            label:
              en_US: Gabon
              ja_JP: Gabon
              pt_BR: Gabon
              zh_Hans: 加蓬
            value: gabon
          - icon: ''
            label:
              en_US: Gambia
              ja_JP: Gambia
              pt_BR: Gambia
              zh_Hans: 冈比亚
            value: gambia
          - icon: ''
            label:
              en_US: Georgia
              ja_JP: Georgia
              pt_BR: Georgia
              zh_Hans: 格鲁吉亚
            value: georgia
          - icon: ''
            label:
              en_US: Germany
              ja_JP: Germany
              pt_BR: Germany
              zh_Hans: 德国
            value: germany
          - icon: ''
            label:
              en_US: Ghana
              ja_JP: Ghana
              pt_BR: Ghana
              zh_Hans: 加纳
            value: ghana
          - icon: ''
            label:
              en_US: Greece
              ja_JP: Greece
              pt_BR: Greece
              zh_Hans: 希腊
            value: greece
          - icon: ''
            label:
              en_US: Guatemala
              ja_JP: Guatemala
              pt_BR: Guatemala
              zh_Hans: 危地马拉
            value: guatemala
          - icon: ''
            label:
              en_US: Guinea
              ja_JP: Guinea
              pt_BR: Guinea
              zh_Hans: 几内亚
            value: guinea
          - icon: ''
            label:
              en_US: Haiti
              ja_JP: Haiti
              pt_BR: Haiti
              zh_Hans: 海地
            value: haiti
          - icon: ''
            label:
              en_US: Honduras
              ja_JP: Honduras
              pt_BR: Honduras
              zh_Hans: 洪都拉斯
            value: honduras
          - icon: ''
            label:
              en_US: Hungary
              ja_JP: Hungary
              pt_BR: Hungary
              zh_Hans: 匈牙利
            value: hungary
          - icon: ''
            label:
              en_US: Iceland
              ja_JP: Iceland
              pt_BR: Iceland
              zh_Hans: 冰岛
            value: iceland
          - icon: ''
            label:
              en_US: India
              ja_JP: India
              pt_BR: India
              zh_Hans: 印度
            value: india
          - icon: ''
            label:
              en_US: Indonesia
              ja_JP: Indonesia
              pt_BR: Indonesia
              zh_Hans: 印度尼西亚
            value: indonesia
          - icon: ''
            label:
              en_US: Iran
              ja_JP: Iran
              pt_BR: Iran
              zh_Hans: 伊朗
            value: iran
          - icon: ''
            label:
              en_US: Iraq
              ja_JP: Iraq
              pt_BR: Iraq
              zh_Hans: 伊拉克
            value: iraq
          - icon: ''
            label:
              en_US: Ireland
              ja_JP: Ireland
              pt_BR: Ireland
              zh_Hans: 爱尔兰
            value: ireland
          - icon: ''
            label:
              en_US: Israel
              ja_JP: Israel
              pt_BR: Israel
              zh_Hans: 以色列
            value: israel
          - icon: ''
            label:
              en_US: Italy
              ja_JP: Italy
              pt_BR: Italy
              zh_Hans: 意大利
            value: italy
          - icon: ''
            label:
              en_US: Jamaica
              ja_JP: Jamaica
              pt_BR: Jamaica
              zh_Hans: 牙买加
            value: jamaica
          - icon: ''
            label:
              en_US: Japan
              ja_JP: Japan
              pt_BR: Japan
              zh_Hans: 日本
            value: japan
          - icon: ''
            label:
              en_US: Jordan
              ja_JP: Jordan
              pt_BR: Jordan
              zh_Hans: 约旦
            value: jordan
          - icon: ''
            label:
              en_US: Kazakhstan
              ja_JP: Kazakhstan
              pt_BR: Kazakhstan
              zh_Hans: 哈萨克斯坦
            value: kazakhstan
          - icon: ''
            label:
              en_US: Kenya
              ja_JP: Kenya
              pt_BR: Kenya
              zh_Hans: 肯尼亚
            value: kenya
          - icon: ''
            label:
              en_US: Kuwait
              ja_JP: Kuwait
              pt_BR: Kuwait
              zh_Hans: 科威特
            value: kuwait
          - icon: ''
            label:
              en_US: Kyrgyzstan
              ja_JP: Kyrgyzstan
              pt_BR: Kyrgyzstan
              zh_Hans: 吉尔吉斯斯坦
            value: kyrgyzstan
          - icon: ''
            label:
              en_US: Latvia
              ja_JP: Latvia
              pt_BR: Latvia
              zh_Hans: 拉脱维亚
            value: latvia
          - icon: ''
            label:
              en_US: Lebanon
              ja_JP: Lebanon
              pt_BR: Lebanon
              zh_Hans: 黎巴嫩
            value: lebanon
          - icon: ''
            label:
              en_US: Lesotho
              ja_JP: Lesotho
              pt_BR: Lesotho
              zh_Hans: 莱索托
            value: lesotho
          - icon: ''
            label:
              en_US: Liberia
              ja_JP: Liberia
              pt_BR: Liberia
              zh_Hans: 利比里亚
            value: liberia
          - icon: ''
            label:
              en_US: Libya
              ja_JP: Libya
              pt_BR: Libya
              zh_Hans: 利比亚
            value: libya
          - icon: ''
            label:
              en_US: Liechtenstein
              ja_JP: Liechtenstein
              pt_BR: Liechtenstein
              zh_Hans: 列支敦士登
            value: liechtenstein
          - icon: ''
            label:
              en_US: Lithuania
              ja_JP: Lithuania
              pt_BR: Lithuania
              zh_Hans: 立陶宛
            value: lithuania
          - icon: ''
            label:
              en_US: Luxembourg
              ja_JP: Luxembourg
              pt_BR: Luxembourg
              zh_Hans: 卢森堡
            value: luxembourg
          - icon: ''
            label:
              en_US: Madagascar
              ja_JP: Madagascar
              pt_BR: Madagascar
              zh_Hans: 马达加斯加
            value: madagascar
          - icon: ''
            label:
              en_US: Malawi
              ja_JP: Malawi
              pt_BR: Malawi
              zh_Hans: 马拉维
            value: malawi
          - icon: ''
            label:
              en_US: Malaysia
              ja_JP: Malaysia
              pt_BR: Malaysia
              zh_Hans: 马来西亚
            value: malaysia
          - icon: ''
            label:
              en_US: Maldives
              ja_JP: Maldives
              pt_BR: Maldives
              zh_Hans: 马尔代夫
            value: maldives
          - icon: ''
            label:
              en_US: Mali
              ja_JP: Mali
              pt_BR: Mali
              zh_Hans: 马里
            value: mali
          - icon: ''
            label:
              en_US: Malta
              ja_JP: Malta
              pt_BR: Malta
              zh_Hans: 马耳他
            value: malta
          - icon: ''
            label:
              en_US: Mauritania
              ja_JP: Mauritania
              pt_BR: Mauritania
              zh_Hans: 毛里塔尼亚
            value: mauritania
          - icon: ''
            label:
              en_US: Mauritius
              ja_JP: Mauritius
              pt_BR: Mauritius
              zh_Hans: 毛里求斯
            value: mauritius
          - icon: ''
            label:
              en_US: Mexico
              ja_JP: Mexico
              pt_BR: Mexico
              zh_Hans: 墨西哥
            value: mexico
          - icon: ''
            label:
              en_US: Moldova
              ja_JP: Moldova
              pt_BR: Moldova
              zh_Hans: 摩尔多瓦
            value: moldova
          - icon: ''
            label:
              en_US: Monaco
              ja_JP: Monaco
              pt_BR: Monaco
              zh_Hans: 摩纳哥
            value: monaco
          - icon: ''
            label:
              en_US: Mongolia
              ja_JP: Mongolia
              pt_BR: Mongolia
              zh_Hans: 蒙古
            value: mongolia
          - icon: ''
            label:
              en_US: Montenegro
              ja_JP: Montenegro
              pt_BR: Montenegro
              zh_Hans: 黑山
            value: montenegro
          - icon: ''
            label:
              en_US: Morocco
              ja_JP: Morocco
              pt_BR: Morocco
              zh_Hans: 摩洛哥
            value: morocco
          - icon: ''
            label:
              en_US: Mozambique
              ja_JP: Mozambique
              pt_BR: Mozambique
              zh_Hans: 莫桑比克
            value: mozambique
          - icon: ''
            label:
              en_US: Myanmar
              ja_JP: Myanmar
              pt_BR: Myanmar
              zh_Hans: 缅甸
            value: myanmar
          - icon: ''
            label:
              en_US: Namibia
              ja_JP: Namibia
              pt_BR: Namibia
              zh_Hans: 纳米比亚
            value: namibia
          - icon: ''
            label:
              en_US: Nepal
              ja_JP: Nepal
              pt_BR: Nepal
              zh_Hans: 尼泊尔
            value: nepal
          - icon: ''
            label:
              en_US: Netherlands
              ja_JP: Netherlands
              pt_BR: Netherlands
              zh_Hans: 荷兰
            value: netherlands
          - icon: ''
            label:
              en_US: New Zealand
              ja_JP: New Zealand
              pt_BR: New Zealand
              zh_Hans: 新西兰
            value: new zealand
          - icon: ''
            label:
              en_US: Nicaragua
              ja_JP: Nicaragua
              pt_BR: Nicaragua
              zh_Hans: 尼加拉瓜
            value: nicaragua
          - icon: ''
            label:
              en_US: Niger
              ja_JP: Niger
              pt_BR: Niger
              zh_Hans: 尼日尔
            value: niger
          - icon: ''
            label:
              en_US: Nigeria
              ja_JP: Nigeria
              pt_BR: Nigeria
              zh_Hans: 尼日利亚
            value: nigeria
          - icon: ''
            label:
              en_US: North Korea
              ja_JP: North Korea
              pt_BR: North Korea
              zh_Hans: 朝鲜
            value: north korea
          - icon: ''
            label:
              en_US: North Macedonia
              ja_JP: North Macedonia
              pt_BR: North Macedonia
              zh_Hans: 北马其顿
            value: north macedonia
          - icon: ''
            label:
              en_US: Norway
              ja_JP: Norway
              pt_BR: Norway
              zh_Hans: 挪威
            value: norway
          - icon: ''
            label:
              en_US: Oman
              ja_JP: Oman
              pt_BR: Oman
              zh_Hans: 阿曼
            value: oman
          - icon: ''
            label:
              en_US: Pakistan
              ja_JP: Pakistan
              pt_BR: Pakistan
              zh_Hans: 巴基斯坦
            value: pakistan
          - icon: ''
            label:
              en_US: Panama
              ja_JP: Panama
              pt_BR: Panama
              zh_Hans: 巴拿马
            value: panama
          - icon: ''
            label:
              en_US: Papua New Guinea
              ja_JP: Papua New Guinea
              pt_BR: Papua New Guinea
              zh_Hans: 巴布亚新几内亚
            value: papua new guinea
          - icon: ''
            label:
              en_US: Paraguay
              ja_JP: Paraguay
              pt_BR: Paraguay
              zh_Hans: 巴拉圭
            value: paraguay
          - icon: ''
            label:
              en_US: Peru
              ja_JP: Peru
              pt_BR: Peru
              zh_Hans: 秘鲁
            value: peru
          - icon: ''
            label:
              en_US: Philippines
              ja_JP: Philippines
              pt_BR: Philippines
              zh_Hans: 菲律宾
            value: philippines
          - icon: ''
            label:
              en_US: Poland
              ja_JP: Poland
              pt_BR: Poland
              zh_Hans: 波兰
            value: poland
          - icon: ''
            label:
              en_US: Portugal
              ja_JP: Portugal
              pt_BR: Portugal
              zh_Hans: 葡萄牙
            value: portugal
          - icon: ''
            label:
              en_US: Qatar
              ja_JP: Qatar
              pt_BR: Qatar
              zh_Hans: 卡塔尔
            value: qatar
          - icon: ''
            label:
              en_US: Romania
              ja_JP: Romania
              pt_BR: Romania
              zh_Hans: 罗马尼亚
            value: romania
          - icon: ''
            label:
              en_US: Russia
              ja_JP: Russia
              pt_BR: Russia
              zh_Hans: 俄罗斯
            value: russia
          - icon: ''
            label:
              en_US: Rwanda
              ja_JP: Rwanda
              pt_BR: Rwanda
              zh_Hans: 卢旺达
            value: rwanda
          - icon: ''
            label:
              en_US: Saudi Arabia
              ja_JP: Saudi Arabia
              pt_BR: Saudi Arabia
              zh_Hans: 沙特阿拉伯
            value: saudi arabia
          - icon: ''
            label:
              en_US: Senegal
              ja_JP: Senegal
              pt_BR: Senegal
              zh_Hans: 塞内加尔
            value: senegal
          - icon: ''
            label:
              en_US: Serbia
              ja_JP: Serbia
              pt_BR: Serbia
              zh_Hans: 塞尔维亚
            value: serbia
          - icon: ''
            label:
              en_US: Singapore
              ja_JP: Singapore
              pt_BR: Singapore
              zh_Hans: 新加坡
            value: singapore
          - icon: ''
            label:
              en_US: Slovakia
              ja_JP: Slovakia
              pt_BR: Slovakia
              zh_Hans: 斯洛伐克
            value: slovakia
          - icon: ''
            label:
              en_US: Slovenia
              ja_JP: Slovenia
              pt_BR: Slovenia
              zh_Hans: 斯洛文尼亚
            value: slovenia
          - icon: ''
            label:
              en_US: Somalia
              ja_JP: Somalia
              pt_BR: Somalia
              zh_Hans: 索马里
            value: somalia
          - icon: ''
            label:
              en_US: South Africa
              ja_JP: South Africa
              pt_BR: South Africa
              zh_Hans: 南非
            value: south africa
          - icon: ''
            label:
              en_US: South Korea
              ja_JP: South Korea
              pt_BR: South Korea
              zh_Hans: 韩国
            value: south korea
          - icon: ''
            label:
              en_US: South Sudan
              ja_JP: South Sudan
              pt_BR: South Sudan
              zh_Hans: 南苏丹
            value: south sudan
          - icon: ''
            label:
              en_US: Spain
              ja_JP: Spain
              pt_BR: Spain
              zh_Hans: 西班牙
            value: spain
          - icon: ''
            label:
              en_US: Sri Lanka
              ja_JP: Sri Lanka
              pt_BR: Sri Lanka
              zh_Hans: 斯里兰卡
            value: sri lanka
          - icon: ''
            label:
              en_US: Sudan
              ja_JP: Sudan
              pt_BR: Sudan
              zh_Hans: 苏丹
            value: sudan
          - icon: ''
            label:
              en_US: Sweden
              ja_JP: Sweden
              pt_BR: Sweden
              zh_Hans: 瑞典
            value: sweden
          - icon: ''
            label:
              en_US: Switzerland
              ja_JP: Switzerland
              pt_BR: Switzerland
              zh_Hans: 瑞士
            value: switzerland
          - icon: ''
            label:
              en_US: Syria
              ja_JP: Syria
              pt_BR: Syria
              zh_Hans: 叙利亚
            value: syria
          - icon: ''
            label:
              en_US: Taiwan
              ja_JP: Taiwan
              pt_BR: Taiwan
              zh_Hans: 台湾
            value: taiwan
          - icon: ''
            label:
              en_US: Tajikistan
              ja_JP: Tajikistan
              pt_BR: Tajikistan
              zh_Hans: 塔吉克斯坦
            value: tajikistan
          - icon: ''
            label:
              en_US: Tanzania
              ja_JP: Tanzania
              pt_BR: Tanzania
              zh_Hans: 坦桑尼亚
            value: tanzania
          - icon: ''
            label:
              en_US: Thailand
              ja_JP: Thailand
              pt_BR: Thailand
              zh_Hans: 泰国
            value: thailand
          - icon: ''
            label:
              en_US: Togo
              ja_JP: Togo
              pt_BR: Togo
              zh_Hans: 多哥
            value: togo
          - icon: ''
            label:
              en_US: Trinidad and Tobago
              ja_JP: Trinidad and Tobago
              pt_BR: Trinidad and Tobago
              zh_Hans: 特立尼达和多巴哥
            value: trinidad and tobago
          - icon: ''
            label:
              en_US: Tunisia
              ja_JP: Tunisia
              pt_BR: Tunisia
              zh_Hans: 突尼斯
            value: tunisia
          - icon: ''
            label:
              en_US: Turkey
              ja_JP: Turkey
              pt_BR: Turkey
              zh_Hans: 土耳其
            value: turkey
          - icon: ''
            label:
              en_US: Turkmenistan
              ja_JP: Turkmenistan
              pt_BR: Turkmenistan
              zh_Hans: 土库曼斯坦
            value: turkmenistan
          - icon: ''
            label:
              en_US: Uganda
              ja_JP: Uganda
              pt_BR: Uganda
              zh_Hans: 乌干达
            value: uganda
          - icon: ''
            label:
              en_US: Ukraine
              ja_JP: Ukraine
              pt_BR: Ukraine
              zh_Hans: 乌克兰
            value: ukraine
          - icon: ''
            label:
              en_US: United Arab Emirates
              ja_JP: United Arab Emirates
              pt_BR: United Arab Emirates
              zh_Hans: 阿拉伯联合酋长国
            value: united arab emirates
          - icon: ''
            label:
              en_US: United Kingdom
              ja_JP: United Kingdom
              pt_BR: United Kingdom
              zh_Hans: 英国
            value: united kingdom
          - icon: ''
            label:
              en_US: United States
              ja_JP: United States
              pt_BR: United States
              zh_Hans: 美国
            value: united states
          - icon: ''
            label:
              en_US: Uruguay
              ja_JP: Uruguay
              pt_BR: Uruguay
              zh_Hans: 乌拉圭
            value: uruguay
          - icon: ''
            label:
              en_US: Uzbekistan
              ja_JP: Uzbekistan
              pt_BR: Uzbekistan
              zh_Hans: 乌兹别克斯坦
            value: uzbekistan
          - icon: ''
            label:
              en_US: Venezuela
              ja_JP: Venezuela
              pt_BR: Venezuela
              zh_Hans: 委内瑞拉
            value: venezuela
          - icon: ''
            label:
              en_US: Vietnam
              ja_JP: Vietnam
              pt_BR: Vietnam
              zh_Hans: 越南
            value: vietnam
          - icon: ''
            label:
              en_US: Yemen
              ja_JP: Yemen
              pt_BR: Yemen
              zh_Hans: 也门
            value: yemen
          - icon: ''
            label:
              en_US: Zambia
              ja_JP: Zambia
              pt_BR: Zambia
              zh_Hans: 赞比亚
            value: zambia
          - icon: ''
            label:
              en_US: Zimbabwe
              ja_JP: Zimbabwe
              pt_BR: Zimbabwe
              zh_Hans: 津巴布韦
            value: zimbabwe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically include in the
              search results.
            ja_JP: A comma-separated list of domains to specifically include in the
              search results.
            pt_BR: A comma-separated list of domains to specifically include in the
              search results.
            zh_Hans: 要在搜索结果中特别包含的域的逗号分隔列表。
          label:
            en_US: Include Domains
            ja_JP: Include Domains
            pt_BR: Include Domains
            zh_Hans: 包含域
          llm_description: A comma-separated list of domains to specifically include
            in the search results.
          max: null
          min: null
          name: include_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically exclude from
              the search results.
            ja_JP: A comma-separated list of domains to specifically exclude from
              the search results.
            pt_BR: A comma-separated list of domains to specifically exclude from
              the search results.
            zh_Hans: 要从搜索结果中特别排除的域的逗号分隔列表。
          label:
            en_US: Exclude Domains
            ja_JP: Exclude Domains
            pt_BR: Exclude Domains
            zh_Hans: 排除域
          llm_description: A comma-separated list of domains to specifically exclude
            from the search results.
          max: null
          min: null
          name: exclude_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            ja_JP: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            pt_BR: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            zh_Hans: 用于跟踪和分析目的的可选项目 ID。将作为 X-Project-ID 标头发送。
          label:
            en_US: Project ID
            ja_JP: Project ID
            pt_BR: Project ID
            zh_Hans: 项目 ID
          llm_description: Optional project ID for usage tracking and analytics.
          max: null
          min: null
          name: project_id
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          auto_parameters: ''
          chunks_per_source: ''
          country: ''
          end_date: ''
          exclude_domains: ''
          include_answer: ''
          include_domains: ''
          include_favicon: ''
          include_image_descriptions: ''
          include_images: ''
          include_raw_content: ''
          include_usage: ''
          max_results: ''
          project_id: ''
          query: ''
          search_depth: ''
          start_date: ''
          time_range: ''
          topic: ''
        plugin_id: langgenius/tavily
        plugin_unique_identifier: langgenius/tavily:0.1.10@b43f5dc49fbafc69949ee8231d600b23fb7586d514f4c72e470a86af03d2173d
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=a11d59b9-01de-4e6e-81ec-7462c2abdbf0&filename=87e9610216108c07bc947745c1df5715aa276dbaa90e5d60866102c549fb5452.png
        provider_id: langgenius/tavily/tavily
        provider_name: langgenius/tavily/tavily
        provider_type: builtin
        selected: false
        title: 网络检索
        tool_configurations:
          auto_parameters:
            type: constant
            value: false
          chunks_per_source:
            type: constant
            value: 3
          include_answer:
            type: constant
            value: false
          include_favicon:
            type: constant
            value: false
          include_image_descriptions:
            type: constant
            value: false
          include_images:
            type: constant
            value: false
          include_raw_content:
            type: constant
            value: false
          include_usage:
            type: constant
            value: false
          max_results:
            type: constant
            value: 5
          project_id:
            type: mixed
            value: null
        tool_description: 专为人工智能代理 (LLM) 构建的搜索引擎工具，可快速提供实时、准确和真实的结果。
        tool_label: Tavily Search
        tool_name: tavily_search
        tool_node_version: '2'
        tool_parameters:
          country:
            type: constant
            value: null
          end_date:
            type: mixed
            value: null
          exclude_domains:
            type: mixed
            value: null
          include_domains:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#1782815799180.text#}}'
          search_depth:
            type: constant
            value: basic
          start_date:
            type: mixed
            value: null
          time_range:
            type: constant
            value: not_specified
          topic:
            type: constant
            value: general
        type: tool
      height: 322
      id: '1782815877228'
      position:
        x: 2890.84275052977
        y: 37.483787045087354
      positionAbsolute:
        x: 2890.84275052977
        y: 37.483787045087354
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            reasoning_effort: high
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 34ca0fdd-8460-4a12-8f46-83be337bfd78
          role: system
          text: '


            作为一名善于从患者信息中筛选网络检索关键词的工作人员，你需要根据以下用户信息：

            {{#17823075890470.output#}}


            形成一句简短的搜索关键词，以一句话输出，不要有多余的太长的无关输出。


            例如：

            对于...样的糖尿病患者的健康管理建议'
        selected: false
        title: 检索关键词生成 (1)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17828880838200'
      position:
        x: 2489.154580105593
        y: 548.8697171501173
      positionAbsolute:
        x: 2489.154580105593
        y: 548.8697171501173
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        isInIteration: false
        isInLoop: false
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query you want to execute with Tavily.
            ja_JP: The search query you want to execute with Tavily.
            pt_BR: The search query you want to execute with Tavily.
            zh_Hans: 您想用 Tavily 执行的搜索查询。
          label:
            en_US: Query
            ja_JP: Query
            pt_BR: Query
            zh_Hans: 查询
          llm_description: The search query.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: basic
          form: llm
          human_description:
            en_US: The depth of the search.
            ja_JP: The depth of the search.
            pt_BR: The depth of the search.
            zh_Hans: 搜索的深度。
          label:
            en_US: Search Depth
            ja_JP: Search Depth
            pt_BR: Search Depth
            zh_Hans: 搜索深度
          llm_description: The depth of the search. 'basic' for standard search, 'advanced'
            for comprehensive results, 'fast' for quick results, 'ultra-fast' for
            fastest results with minimal processing.
          max: null
          min: null
          name: search_depth
          options:
          - icon: ''
            label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - icon: ''
            label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          - icon: ''
            label:
              en_US: Fast
              ja_JP: Fast
              pt_BR: Fast
              zh_Hans: 快速
            value: fast
          - icon: ''
            label:
              en_US: Ultra Fast
              ja_JP: Ultra Fast
              pt_BR: Ultra Fast
              zh_Hans: 超快速
            value: ultra-fast
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: general
          form: llm
          human_description:
            en_US: The category of the search.
            ja_JP: The category of the search.
            pt_BR: The category of the search.
            zh_Hans: 搜索的类别。
          label:
            en_US: Topic
            ja_JP: Topic
            pt_BR: Topic
            zh_Hans: 主题
          llm_description: The category of the search. Valid options are 'general',
            'news', and 'finance'.
          max: null
          min: null
          name: topic
          options:
          - icon: ''
            label:
              en_US: General
              ja_JP: General
              pt_BR: General
              zh_Hans: 一般
            value: general
          - icon: ''
            label:
              en_US: News
              ja_JP: News
              pt_BR: News
              zh_Hans: 新闻
            value: news
          - icon: ''
            label:
              en_US: Finance
              ja_JP: Finance
              pt_BR: Finance
              zh_Hans: 金融
            value: finance
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: not_specified
          form: llm
          human_description:
            en_US: The time range back from the current date to filter results.
            ja_JP: The time range back from the current date to filter results.
            pt_BR: The time range back from the current date to filter results.
            zh_Hans: 从当前日期起向后筛选结果的时间范围。
          label:
            en_US: Time Range
            ja_JP: Time Range
            pt_BR: Time Range
            zh_Hans: 时间范围
          llm_description: The time range back from the current date to filter results.
            Valid options are 'not_specified', 'day', 'week', 'month', and 'year'.
            When time_range is set, do not set start_date or end_date.
          max: null
          min: null
          name: time_range
          options:
          - icon: ''
            label:
              en_US: Not Specified
              ja_JP: Not Specified
              pt_BR: Not Specified
              zh_Hans: 不指定
            value: not_specified
          - icon: ''
            label:
              en_US: Day
              ja_JP: Day
              pt_BR: Day
              zh_Hans: 天
            value: day
          - icon: ''
            label:
              en_US: Week
              ja_JP: Week
              pt_BR: Week
              zh_Hans: 周
            value: week
          - icon: ''
            label:
              en_US: Month
              ja_JP: Month
              pt_BR: Month
              zh_Hans: 月
            value: month
          - icon: ''
            label:
              en_US: Year
              ja_JP: Year
              pt_BR: Year
              zh_Hans: 年
            value: year
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            ja_JP: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            pt_BR: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            zh_Hans: 筛选结果的开始日期。必须以YYYY-MM-DD格式编写。
          label:
            en_US: Start Date
            ja_JP: Start Date
            pt_BR: Start Date
            zh_Hans: 开始日期
          llm_description: The start date for filtering results. Required to be written
            in the format YYYY-MM-DD. Results will be filtered to include content
            from this date onwards. When time_range is set, do not set start_date
            or end_date.
          max: null
          min: null
          name: start_date
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            ja_JP: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            pt_BR: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            zh_Hans: 筛选结果的结束日期。必须以YYYY-MM-DD格式编写。
          label:
            en_US: End Date
            ja_JP: End Date
            pt_BR: End Date
            zh_Hans: 结束日期
          llm_description: The end date for filtering results. Required to be written
            in the format YYYY-MM-DD. Results will be filtered to include content
            up to this date. When time_range is set, do not set start_date or end_date.
          max: null
          min: null
          name: end_date
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Automatically configure search parameters based on query content
              and intent.
            ja_JP: Automatically configure search parameters based on query content
              and intent.
            pt_BR: Automatically configure search parameters based on query content
              and intent.
            zh_Hans: 根据查询内容和意图自动配置搜索参数。
          label:
            en_US: Auto Parameters
            ja_JP: Auto Parameters
            pt_BR: Auto Parameters
            zh_Hans: 自动参数
          llm_description: When set to true, Tavily automatically configures search
            parameters based on your query.
          max: null
          min: null
          name: auto_parameters
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a list of query-related images in the response.
            ja_JP: Include a list of query-related images in the response.
            pt_BR: Include a list of query-related images in the response.
            zh_Hans: 在响应中包含与查询相关的图片列表。
          label:
            en_US: Include Images
            ja_JP: Include Images
            pt_BR: Include Images
            zh_Hans: 包含图片
          llm_description: When set to true, includes a list of query-related images
            in the response.
          max: null
          min: null
          name: include_images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: When include_images is True, adds descriptive text for each image.
            ja_JP: When include_images is True, adds descriptive text for each image.
            pt_BR: When include_images is True, adds descriptive text for each image.
            zh_Hans: 当 include_images 为 True 时，为每个图像添加描述文本。
          label:
            en_US: Include Image Descriptions
            ja_JP: Include Image Descriptions
            pt_BR: Include Image Descriptions
            zh_Hans: 包含图片描述
          llm_description: When include_images is True and this is set to true, adds
            descriptive text for each image.
          max: null
          min: null
          name: include_image_descriptions
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include favicon URL for each result.
            ja_JP: Include favicon URL for each result.
            pt_BR: Include favicon URL for each result.
            zh_Hans: 包含每个结果的favicon URL。
          label:
            en_US: Include Favicon
            ja_JP: Include Favicon
            pt_BR: Include Favicon
            zh_Hans: 包含Favicon
          llm_description: When set to true, includes the favicon URL for each result.
          max: null
          min: null
          name: include_favicon
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            ja_JP: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            pt_BR: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            zh_Hans: 在回复中包含对原始问题的简短回答。对于简要回答，请使用“基本”或“是”；对于更详细、更全面的回答，请使用“高级”。
          label:
            en_US: Include Answer
            ja_JP: Include Answer
            pt_BR: Include Answer
            zh_Hans: 包含答案
          llm_description: When set to true or 'basic', includes a short answer to
            the original query in the response. Use 'advanced' for a more detailed,
            comprehensive answer.
          max: null
          min: null
          name: include_answer
          options:
          - icon: ''
            label:
              en_US: 'False'
              ja_JP: 'False'
              pt_BR: 'False'
              zh_Hans: 否
            value: 'false'
          - icon: ''
            label:
              en_US: 'True'
              ja_JP: 'True'
              pt_BR: 'True'
              zh_Hans: 是
            value: 'true'
          - icon: ''
            label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - icon: ''
            label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            ja_JP: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            pt_BR: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            zh_Hans: 包含每个搜索结果的已清理和解析的HTML内容。使用 Markdown 格式请选择 Markdown 选项，使用纯文本请选择文本选项。
          label:
            en_US: Include Raw Content
            ja_JP: Include Raw Content
            pt_BR: Include Raw Content
            zh_Hans: 包含原始内容
          llm_description: Include the cleaned and parsed content of each search result.
            'false' to disable, 'true' or 'markdown' for markdown format, 'text' for
            plain text format.
          max: null
          min: null
          name: include_raw_content
          options:
          - icon: ''
            label:
              en_US: 'False'
              ja_JP: 'False'
              pt_BR: 'False'
              zh_Hans: 否
            value: 'false'
          - icon: ''
            label:
              en_US: 'True'
              ja_JP: 'True'
              pt_BR: 'True'
              zh_Hans: 是
            value: 'true'
          - icon: ''
            label:
              en_US: Markdown
              ja_JP: Markdown
              pt_BR: Markdown
              zh_Hans: Markdown
            value: markdown
          - icon: ''
            label:
              en_US: Text
              ja_JP: Text
              pt_BR: Text
              zh_Hans: 纯文本
            value: text
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include API usage information (token counts, credits used) in the
              response.
            ja_JP: Include API usage information (token counts, credits used) in the
              response.
            pt_BR: Include API usage information (token counts, credits used) in the
              response.
            zh_Hans: 在响应中包含API使用信息（token计数、使用的积分）。
          label:
            en_US: Include Usage
            ja_JP: Include Usage
            pt_BR: Include Usage
            zh_Hans: 包含使用信息
          llm_description: When set to true, includes API usage information such as
            token counts and credits used in the response.
          max: null
          min: null
          name: include_usage
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 5
          form: form
          human_description:
            en_US: The maximum number of search results to return.
            ja_JP: The maximum number of search results to return.
            pt_BR: The maximum number of search results to return.
            zh_Hans: 要返回的最大搜索结果数。
          label:
            en_US: Max Results
            ja_JP: Max Results
            pt_BR: Max Results
            zh_Hans: 最大结果数
          llm_description: The maximum number of search results to return. Range is
            1-20.
          max: 20
          min: 1
          name: max_results
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 3
          form: form
          human_description:
            en_US: Maximum number of content chunks returned per source (advanced
              and fast search only).
            ja_JP: Maximum number of content chunks returned per source (advanced
              and fast search only).
            pt_BR: Maximum number of content chunks returned per source (advanced
              and fast search only).
            zh_Hans: 每个来源返回的内容片段的最大数量（仅限高级和快速搜索）。
          label:
            en_US: Chunks Per Source
            ja_JP: Chunks Per Source
            pt_BR: Chunks Per Source
            zh_Hans: 每来源片段数
          llm_description: Maximum number of relevant content chunks (1-3) returned
            per source. Valid when search_depth is 'advanced' or 'fast'.
          max: 3
          min: 1
          name: chunks_per_source
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Boost search results for a specific country (topic must be general).
            ja_JP: Boost search results for a specific country (topic must be general).
            pt_BR: Boost search results for a specific country (topic must be general).
            zh_Hans: 从特定国家/地区提升搜索结果（主题必须是general）。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Select a country to boost results only when topic is general.
            Use one of the exact option values.
          max: null
          min: null
          name: country
          options:
          - icon: ''
            label:
              en_US: Afghanistan
              ja_JP: Afghanistan
              pt_BR: Afghanistan
              zh_Hans: 阿富汗
            value: afghanistan
          - icon: ''
            label:
              en_US: Albania
              ja_JP: Albania
              pt_BR: Albania
              zh_Hans: 阿尔巴尼亚
            value: albania
          - icon: ''
            label:
              en_US: Algeria
              ja_JP: Algeria
              pt_BR: Algeria
              zh_Hans: 阿尔及利亚
            value: algeria
          - icon: ''
            label:
              en_US: Andorra
              ja_JP: Andorra
              pt_BR: Andorra
              zh_Hans: 安道尔
            value: andorra
          - icon: ''
            label:
              en_US: Angola
              ja_JP: Angola
              pt_BR: Angola
              zh_Hans: 安哥拉
            value: angola
          - icon: ''
            label:
              en_US: Argentina
              ja_JP: Argentina
              pt_BR: Argentina
              zh_Hans: 阿根廷
            value: argentina
          - icon: ''
            label:
              en_US: Armenia
              ja_JP: Armenia
              pt_BR: Armenia
              zh_Hans: 亚美尼亚
            value: armenia
          - icon: ''
            label:
              en_US: Australia
              ja_JP: Australia
              pt_BR: Australia
              zh_Hans: 澳大利亚
            value: australia
          - icon: ''
            label:
              en_US: Austria
              ja_JP: Austria
              pt_BR: Austria
              zh_Hans: 奥地利
            value: austria
          - icon: ''
            label:
              en_US: Azerbaijan
              ja_JP: Azerbaijan
              pt_BR: Azerbaijan
              zh_Hans: 阿塞拜疆
            value: azerbaijan
          - icon: ''
            label:
              en_US: Bahamas
              ja_JP: Bahamas
              pt_BR: Bahamas
              zh_Hans: 巴哈马
            value: bahamas
          - icon: ''
            label:
              en_US: Bahrain
              ja_JP: Bahrain
              pt_BR: Bahrain
              zh_Hans: 巴林
            value: bahrain
          - icon: ''
            label:
              en_US: Bangladesh
              ja_JP: Bangladesh
              pt_BR: Bangladesh
              zh_Hans: 孟加拉国
            value: bangladesh
          - icon: ''
            label:
              en_US: Barbados
              ja_JP: Barbados
              pt_BR: Barbados
              zh_Hans: 巴巴多斯
            value: barbados
          - icon: ''
            label:
              en_US: Belarus
              ja_JP: Belarus
              pt_BR: Belarus
              zh_Hans: 白俄罗斯
            value: belarus
          - icon: ''
            label:
              en_US: Belgium
              ja_JP: Belgium
              pt_BR: Belgium
              zh_Hans: 比利时
            value: belgium
          - icon: ''
            label:
              en_US: Belize
              ja_JP: Belize
              pt_BR: Belize
              zh_Hans: 伯利兹
            value: belize
          - icon: ''
            label:
              en_US: Benin
              ja_JP: Benin
              pt_BR: Benin
              zh_Hans: 贝宁
            value: benin
          - icon: ''
            label:
              en_US: Bhutan
              ja_JP: Bhutan
              pt_BR: Bhutan
              zh_Hans: 不丹
            value: bhutan
          - icon: ''
            label:
              en_US: Bolivia
              ja_JP: Bolivia
              pt_BR: Bolivia
              zh_Hans: 玻利维亚
            value: bolivia
          - icon: ''
            label:
              en_US: Bosnia and Herzegovina
              ja_JP: Bosnia and Herzegovina
              pt_BR: Bosnia and Herzegovina
              zh_Hans: 波斯尼亚和黑塞哥维那
            value: bosnia and herzegovina
          - icon: ''
            label:
              en_US: Botswana
              ja_JP: Botswana
              pt_BR: Botswana
              zh_Hans: 博茨瓦纳
            value: botswana
          - icon: ''
            label:
              en_US: Brazil
              ja_JP: Brazil
              pt_BR: Brazil
              zh_Hans: 巴西
            value: brazil
          - icon: ''
            label:
              en_US: Brunei
              ja_JP: Brunei
              pt_BR: Brunei
              zh_Hans: 文莱
            value: brunei
          - icon: ''
            label:
              en_US: Bulgaria
              ja_JP: Bulgaria
              pt_BR: Bulgaria
              zh_Hans: 保加利亚
            value: bulgaria
          - icon: ''
            label:
              en_US: Burkina Faso
              ja_JP: Burkina Faso
              pt_BR: Burkina Faso
              zh_Hans: 布基纳法索
            value: burkina faso
          - icon: ''
            label:
              en_US: Burundi
              ja_JP: Burundi
              pt_BR: Burundi
              zh_Hans: 布隆迪
            value: burundi
          - icon: ''
            label:
              en_US: Cambodia
              ja_JP: Cambodia
              pt_BR: Cambodia
              zh_Hans: 柬埔寨
            value: cambodia
          - icon: ''
            label:
              en_US: Cameroon
              ja_JP: Cameroon
              pt_BR: Cameroon
              zh_Hans: 喀麦隆
            value: cameroon
          - icon: ''
            label:
              en_US: Canada
              ja_JP: Canada
              pt_BR: Canada
              zh_Hans: 加拿大
            value: canada
          - icon: ''
            label:
              en_US: Cape Verde
              ja_JP: Cape Verde
              pt_BR: Cape Verde
              zh_Hans: 佛得角
            value: cape verde
          - icon: ''
            label:
              en_US: Central African Republic
              ja_JP: Central African Republic
              pt_BR: Central African Republic
              zh_Hans: 中非共和国
            value: central african republic
          - icon: ''
            label:
              en_US: Chad
              ja_JP: Chad
              pt_BR: Chad
              zh_Hans: 乍得
            value: chad
          - icon: ''
            label:
              en_US: Chile
              ja_JP: Chile
              pt_BR: Chile
              zh_Hans: 智利
            value: chile
          - icon: ''
            label:
              en_US: China
              ja_JP: China
              pt_BR: China
              zh_Hans: 中国
            value: china
          - icon: ''
            label:
              en_US: Colombia
              ja_JP: Colombia
              pt_BR: Colombia
              zh_Hans: 哥伦比亚
            value: colombia
          - icon: ''
            label:
              en_US: Comoros
              ja_JP: Comoros
              pt_BR: Comoros
              zh_Hans: 科摩罗
            value: comoros
          - icon: ''
            label:
              en_US: Congo
              ja_JP: Congo
              pt_BR: Congo
              zh_Hans: 刚果
            value: congo
          - icon: ''
            label:
              en_US: Costa Rica
              ja_JP: Costa Rica
              pt_BR: Costa Rica
              zh_Hans: 哥斯达黎加
            value: costa rica
          - icon: ''
            label:
              en_US: Croatia
              ja_JP: Croatia
              pt_BR: Croatia
              zh_Hans: 克罗地亚
            value: croatia
          - icon: ''
            label:
              en_US: Cuba
              ja_JP: Cuba
              pt_BR: Cuba
              zh_Hans: 古巴
            value: cuba
          - icon: ''
            label:
              en_US: Cyprus
              ja_JP: Cyprus
              pt_BR: Cyprus
              zh_Hans: 塞浦路斯
            value: cyprus
          - icon: ''
            label:
              en_US: Czech Republic
              ja_JP: Czech Republic
              pt_BR: Czech Republic
              zh_Hans: 捷克共和国
            value: czech republic
          - icon: ''
            label:
              en_US: Denmark
              ja_JP: Denmark
              pt_BR: Denmark
              zh_Hans: 丹麦
            value: denmark
          - icon: ''
            label:
              en_US: Djibouti
              ja_JP: Djibouti
              pt_BR: Djibouti
              zh_Hans: 吉布提
            value: djibouti
          - icon: ''
            label:
              en_US: Dominican Republic
              ja_JP: Dominican Republic
              pt_BR: Dominican Republic
              zh_Hans: 多米尼加共和国
            value: dominican republic
          - icon: ''
            label:
              en_US: Ecuador
              ja_JP: Ecuador
              pt_BR: Ecuador
              zh_Hans: 厄瓜多尔
            value: ecuador
          - icon: ''
            label:
              en_US: Egypt
              ja_JP: Egypt
              pt_BR: Egypt
              zh_Hans: 埃及
            value: egypt
          - icon: ''
            label:
              en_US: El Salvador
              ja_JP: El Salvador
              pt_BR: El Salvador
              zh_Hans: 萨尔瓦多
            value: el salvador
          - icon: ''
            label:
              en_US: Equatorial Guinea
              ja_JP: Equatorial Guinea
              pt_BR: Equatorial Guinea
              zh_Hans: 赤道几内亚
            value: equatorial guinea
          - icon: ''
            label:
              en_US: Eritrea
              ja_JP: Eritrea
              pt_BR: Eritrea
              zh_Hans: 厄立特里亚
            value: eritrea
          - icon: ''
            label:
              en_US: Estonia
              ja_JP: Estonia
              pt_BR: Estonia
              zh_Hans: 爱沙尼亚
            value: estonia
          - icon: ''
            label:
              en_US: Ethiopia
              ja_JP: Ethiopia
              pt_BR: Ethiopia
              zh_Hans: 埃塞俄比亚
            value: ethiopia
          - icon: ''
            label:
              en_US: Fiji
              ja_JP: Fiji
              pt_BR: Fiji
              zh_Hans: 斐济
            value: fiji
          - icon: ''
            label:
              en_US: Finland
              ja_JP: Finland
              pt_BR: Finland
              zh_Hans: 芬兰
            value: finland
          - icon: ''
            label:
              en_US: France
              ja_JP: France
              pt_BR: France
              zh_Hans: 法国
            value: france
          - icon: ''
            label:
              en_US: Gabon
              ja_JP: Gabon
              pt_BR: Gabon
              zh_Hans: 加蓬
            value: gabon
          - icon: ''
            label:
              en_US: Gambia
              ja_JP: Gambia
              pt_BR: Gambia
              zh_Hans: 冈比亚
            value: gambia
          - icon: ''
            label:
              en_US: Georgia
              ja_JP: Georgia
              pt_BR: Georgia
              zh_Hans: 格鲁吉亚
            value: georgia
          - icon: ''
            label:
              en_US: Germany
              ja_JP: Germany
              pt_BR: Germany
              zh_Hans: 德国
            value: germany
          - icon: ''
            label:
              en_US: Ghana
              ja_JP: Ghana
              pt_BR: Ghana
              zh_Hans: 加纳
            value: ghana
          - icon: ''
            label:
              en_US: Greece
              ja_JP: Greece
              pt_BR: Greece
              zh_Hans: 希腊
            value: greece
          - icon: ''
            label:
              en_US: Guatemala
              ja_JP: Guatemala
              pt_BR: Guatemala
              zh_Hans: 危地马拉
            value: guatemala
          - icon: ''
            label:
              en_US: Guinea
              ja_JP: Guinea
              pt_BR: Guinea
              zh_Hans: 几内亚
            value: guinea
          - icon: ''
            label:
              en_US: Haiti
              ja_JP: Haiti
              pt_BR: Haiti
              zh_Hans: 海地
            value: haiti
          - icon: ''
            label:
              en_US: Honduras
              ja_JP: Honduras
              pt_BR: Honduras
              zh_Hans: 洪都拉斯
            value: honduras
          - icon: ''
            label:
              en_US: Hungary
              ja_JP: Hungary
              pt_BR: Hungary
              zh_Hans: 匈牙利
            value: hungary
          - icon: ''
            label:
              en_US: Iceland
              ja_JP: Iceland
              pt_BR: Iceland
              zh_Hans: 冰岛
            value: iceland
          - icon: ''
            label:
              en_US: India
              ja_JP: India
              pt_BR: India
              zh_Hans: 印度
            value: india
          - icon: ''
            label:
              en_US: Indonesia
              ja_JP: Indonesia
              pt_BR: Indonesia
              zh_Hans: 印度尼西亚
            value: indonesia
          - icon: ''
            label:
              en_US: Iran
              ja_JP: Iran
              pt_BR: Iran
              zh_Hans: 伊朗
            value: iran
          - icon: ''
            label:
              en_US: Iraq
              ja_JP: Iraq
              pt_BR: Iraq
              zh_Hans: 伊拉克
            value: iraq
          - icon: ''
            label:
              en_US: Ireland
              ja_JP: Ireland
              pt_BR: Ireland
              zh_Hans: 爱尔兰
            value: ireland
          - icon: ''
            label:
              en_US: Israel
              ja_JP: Israel
              pt_BR: Israel
              zh_Hans: 以色列
            value: israel
          - icon: ''
            label:
              en_US: Italy
              ja_JP: Italy
              pt_BR: Italy
              zh_Hans: 意大利
            value: italy
          - icon: ''
            label:
              en_US: Jamaica
              ja_JP: Jamaica
              pt_BR: Jamaica
              zh_Hans: 牙买加
            value: jamaica
          - icon: ''
            label:
              en_US: Japan
              ja_JP: Japan
              pt_BR: Japan
              zh_Hans: 日本
            value: japan
          - icon: ''
            label:
              en_US: Jordan
              ja_JP: Jordan
              pt_BR: Jordan
              zh_Hans: 约旦
            value: jordan
          - icon: ''
            label:
              en_US: Kazakhstan
              ja_JP: Kazakhstan
              pt_BR: Kazakhstan
              zh_Hans: 哈萨克斯坦
            value: kazakhstan
          - icon: ''
            label:
              en_US: Kenya
              ja_JP: Kenya
              pt_BR: Kenya
              zh_Hans: 肯尼亚
            value: kenya
          - icon: ''
            label:
              en_US: Kuwait
              ja_JP: Kuwait
              pt_BR: Kuwait
              zh_Hans: 科威特
            value: kuwait
          - icon: ''
            label:
              en_US: Kyrgyzstan
              ja_JP: Kyrgyzstan
              pt_BR: Kyrgyzstan
              zh_Hans: 吉尔吉斯斯坦
            value: kyrgyzstan
          - icon: ''
            label:
              en_US: Latvia
              ja_JP: Latvia
              pt_BR: Latvia
              zh_Hans: 拉脱维亚
            value: latvia
          - icon: ''
            label:
              en_US: Lebanon
              ja_JP: Lebanon
              pt_BR: Lebanon
              zh_Hans: 黎巴嫩
            value: lebanon
          - icon: ''
            label:
              en_US: Lesotho
              ja_JP: Lesotho
              pt_BR: Lesotho
              zh_Hans: 莱索托
            value: lesotho
          - icon: ''
            label:
              en_US: Liberia
              ja_JP: Liberia
              pt_BR: Liberia
              zh_Hans: 利比里亚
            value: liberia
          - icon: ''
            label:
              en_US: Libya
              ja_JP: Libya
              pt_BR: Libya
              zh_Hans: 利比亚
            value: libya
          - icon: ''
            label:
              en_US: Liechtenstein
              ja_JP: Liechtenstein
              pt_BR: Liechtenstein
              zh_Hans: 列支敦士登
            value: liechtenstein
          - icon: ''
            label:
              en_US: Lithuania
              ja_JP: Lithuania
              pt_BR: Lithuania
              zh_Hans: 立陶宛
            value: lithuania
          - icon: ''
            label:
              en_US: Luxembourg
              ja_JP: Luxembourg
              pt_BR: Luxembourg
              zh_Hans: 卢森堡
            value: luxembourg
          - icon: ''
            label:
              en_US: Madagascar
              ja_JP: Madagascar
              pt_BR: Madagascar
              zh_Hans: 马达加斯加
            value: madagascar
          - icon: ''
            label:
              en_US: Malawi
              ja_JP: Malawi
              pt_BR: Malawi
              zh_Hans: 马拉维
            value: malawi
          - icon: ''
            label:
              en_US: Malaysia
              ja_JP: Malaysia
              pt_BR: Malaysia
              zh_Hans: 马来西亚
            value: malaysia
          - icon: ''
            label:
              en_US: Maldives
              ja_JP: Maldives
              pt_BR: Maldives
              zh_Hans: 马尔代夫
            value: maldives
          - icon: ''
            label:
              en_US: Mali
              ja_JP: Mali
              pt_BR: Mali
              zh_Hans: 马里
            value: mali
          - icon: ''
            label:
              en_US: Malta
              ja_JP: Malta
              pt_BR: Malta
              zh_Hans: 马耳他
            value: malta
          - icon: ''
            label:
              en_US: Mauritania
              ja_JP: Mauritania
              pt_BR: Mauritania
              zh_Hans: 毛里塔尼亚
            value: mauritania
          - icon: ''
            label:
              en_US: Mauritius
              ja_JP: Mauritius
              pt_BR: Mauritius
              zh_Hans: 毛里求斯
            value: mauritius
          - icon: ''
            label:
              en_US: Mexico
              ja_JP: Mexico
              pt_BR: Mexico
              zh_Hans: 墨西哥
            value: mexico
          - icon: ''
            label:
              en_US: Moldova
              ja_JP: Moldova
              pt_BR: Moldova
              zh_Hans: 摩尔多瓦
            value: moldova
          - icon: ''
            label:
              en_US: Monaco
              ja_JP: Monaco
              pt_BR: Monaco
              zh_Hans: 摩纳哥
            value: monaco
          - icon: ''
            label:
              en_US: Mongolia
              ja_JP: Mongolia
              pt_BR: Mongolia
              zh_Hans: 蒙古
            value: mongolia
          - icon: ''
            label:
              en_US: Montenegro
              ja_JP: Montenegro
              pt_BR: Montenegro
              zh_Hans: 黑山
            value: montenegro
          - icon: ''
            label:
              en_US: Morocco
              ja_JP: Morocco
              pt_BR: Morocco
              zh_Hans: 摩洛哥
            value: morocco
          - icon: ''
            label:
              en_US: Mozambique
              ja_JP: Mozambique
              pt_BR: Mozambique
              zh_Hans: 莫桑比克
            value: mozambique
          - icon: ''
            label:
              en_US: Myanmar
              ja_JP: Myanmar
              pt_BR: Myanmar
              zh_Hans: 缅甸
            value: myanmar
          - icon: ''
            label:
              en_US: Namibia
              ja_JP: Namibia
              pt_BR: Namibia
              zh_Hans: 纳米比亚
            value: namibia
          - icon: ''
            label:
              en_US: Nepal
              ja_JP: Nepal
              pt_BR: Nepal
              zh_Hans: 尼泊尔
            value: nepal
          - icon: ''
            label:
              en_US: Netherlands
              ja_JP: Netherlands
              pt_BR: Netherlands
              zh_Hans: 荷兰
            value: netherlands
          - icon: ''
            label:
              en_US: New Zealand
              ja_JP: New Zealand
              pt_BR: New Zealand
              zh_Hans: 新西兰
            value: new zealand
          - icon: ''
            label:
              en_US: Nicaragua
              ja_JP: Nicaragua
              pt_BR: Nicaragua
              zh_Hans: 尼加拉瓜
            value: nicaragua
          - icon: ''
            label:
              en_US: Niger
              ja_JP: Niger
              pt_BR: Niger
              zh_Hans: 尼日尔
            value: niger
          - icon: ''
            label:
              en_US: Nigeria
              ja_JP: Nigeria
              pt_BR: Nigeria
              zh_Hans: 尼日利亚
            value: nigeria
          - icon: ''
            label:
              en_US: North Korea
              ja_JP: North Korea
              pt_BR: North Korea
              zh_Hans: 朝鲜
            value: north korea
          - icon: ''
            label:
              en_US: North Macedonia
              ja_JP: North Macedonia
              pt_BR: North Macedonia
              zh_Hans: 北马其顿
            value: north macedonia
          - icon: ''
            label:
              en_US: Norway
              ja_JP: Norway
              pt_BR: Norway
              zh_Hans: 挪威
            value: norway
          - icon: ''
            label:
              en_US: Oman
              ja_JP: Oman
              pt_BR: Oman
              zh_Hans: 阿曼
            value: oman
          - icon: ''
            label:
              en_US: Pakistan
              ja_JP: Pakistan
              pt_BR: Pakistan
              zh_Hans: 巴基斯坦
            value: pakistan
          - icon: ''
            label:
              en_US: Panama
              ja_JP: Panama
              pt_BR: Panama
              zh_Hans: 巴拿马
            value: panama
          - icon: ''
            label:
              en_US: Papua New Guinea
              ja_JP: Papua New Guinea
              pt_BR: Papua New Guinea
              zh_Hans: 巴布亚新几内亚
            value: papua new guinea
          - icon: ''
            label:
              en_US: Paraguay
              ja_JP: Paraguay
              pt_BR: Paraguay
              zh_Hans: 巴拉圭
            value: paraguay
          - icon: ''
            label:
              en_US: Peru
              ja_JP: Peru
              pt_BR: Peru
              zh_Hans: 秘鲁
            value: peru
          - icon: ''
            label:
              en_US: Philippines
              ja_JP: Philippines
              pt_BR: Philippines
              zh_Hans: 菲律宾
            value: philippines
          - icon: ''
            label:
              en_US: Poland
              ja_JP: Poland
              pt_BR: Poland
              zh_Hans: 波兰
            value: poland
          - icon: ''
            label:
              en_US: Portugal
              ja_JP: Portugal
              pt_BR: Portugal
              zh_Hans: 葡萄牙
            value: portugal
          - icon: ''
            label:
              en_US: Qatar
              ja_JP: Qatar
              pt_BR: Qatar
              zh_Hans: 卡塔尔
            value: qatar
          - icon: ''
            label:
              en_US: Romania
              ja_JP: Romania
              pt_BR: Romania
              zh_Hans: 罗马尼亚
            value: romania
          - icon: ''
            label:
              en_US: Russia
              ja_JP: Russia
              pt_BR: Russia
              zh_Hans: 俄罗斯
            value: russia
          - icon: ''
            label:
              en_US: Rwanda
              ja_JP: Rwanda
              pt_BR: Rwanda
              zh_Hans: 卢旺达
            value: rwanda
          - icon: ''
            label:
              en_US: Saudi Arabia
              ja_JP: Saudi Arabia
              pt_BR: Saudi Arabia
              zh_Hans: 沙特阿拉伯
            value: saudi arabia
          - icon: ''
            label:
              en_US: Senegal
              ja_JP: Senegal
              pt_BR: Senegal
              zh_Hans: 塞内加尔
            value: senegal
          - icon: ''
            label:
              en_US: Serbia
              ja_JP: Serbia
              pt_BR: Serbia
              zh_Hans: 塞尔维亚
            value: serbia
          - icon: ''
            label:
              en_US: Singapore
              ja_JP: Singapore
              pt_BR: Singapore
              zh_Hans: 新加坡
            value: singapore
          - icon: ''
            label:
              en_US: Slovakia
              ja_JP: Slovakia
              pt_BR: Slovakia
              zh_Hans: 斯洛伐克
            value: slovakia
          - icon: ''
            label:
              en_US: Slovenia
              ja_JP: Slovenia
              pt_BR: Slovenia
              zh_Hans: 斯洛文尼亚
            value: slovenia
          - icon: ''
            label:
              en_US: Somalia
              ja_JP: Somalia
              pt_BR: Somalia
              zh_Hans: 索马里
            value: somalia
          - icon: ''
            label:
              en_US: South Africa
              ja_JP: South Africa
              pt_BR: South Africa
              zh_Hans: 南非
            value: south africa
          - icon: ''
            label:
              en_US: South Korea
              ja_JP: South Korea
              pt_BR: South Korea
              zh_Hans: 韩国
            value: south korea
          - icon: ''
            label:
              en_US: South Sudan
              ja_JP: South Sudan
              pt_BR: South Sudan
              zh_Hans: 南苏丹
            value: south sudan
          - icon: ''
            label:
              en_US: Spain
              ja_JP: Spain
              pt_BR: Spain
              zh_Hans: 西班牙
            value: spain
          - icon: ''
            label:
              en_US: Sri Lanka
              ja_JP: Sri Lanka
              pt_BR: Sri Lanka
              zh_Hans: 斯里兰卡
            value: sri lanka
          - icon: ''
            label:
              en_US: Sudan
              ja_JP: Sudan
              pt_BR: Sudan
              zh_Hans: 苏丹
            value: sudan
          - icon: ''
            label:
              en_US: Sweden
              ja_JP: Sweden
              pt_BR: Sweden
              zh_Hans: 瑞典
            value: sweden
          - icon: ''
            label:
              en_US: Switzerland
              ja_JP: Switzerland
              pt_BR: Switzerland
              zh_Hans: 瑞士
            value: switzerland
          - icon: ''
            label:
              en_US: Syria
              ja_JP: Syria
              pt_BR: Syria
              zh_Hans: 叙利亚
            value: syria
          - icon: ''
            label:
              en_US: Taiwan
              ja_JP: Taiwan
              pt_BR: Taiwan
              zh_Hans: 台湾
            value: taiwan
          - icon: ''
            label:
              en_US: Tajikistan
              ja_JP: Tajikistan
              pt_BR: Tajikistan
              zh_Hans: 塔吉克斯坦
            value: tajikistan
          - icon: ''
            label:
              en_US: Tanzania
              ja_JP: Tanzania
              pt_BR: Tanzania
              zh_Hans: 坦桑尼亚
            value: tanzania
          - icon: ''
            label:
              en_US: Thailand
              ja_JP: Thailand
              pt_BR: Thailand
              zh_Hans: 泰国
            value: thailand
          - icon: ''
            label:
              en_US: Togo
              ja_JP: Togo
              pt_BR: Togo
              zh_Hans: 多哥
            value: togo
          - icon: ''
            label:
              en_US: Trinidad and Tobago
              ja_JP: Trinidad and Tobago
              pt_BR: Trinidad and Tobago
              zh_Hans: 特立尼达和多巴哥
            value: trinidad and tobago
          - icon: ''
            label:
              en_US: Tunisia
              ja_JP: Tunisia
              pt_BR: Tunisia
              zh_Hans: 突尼斯
            value: tunisia
          - icon: ''
            label:
              en_US: Turkey
              ja_JP: Turkey
              pt_BR: Turkey
              zh_Hans: 土耳其
            value: turkey
          - icon: ''
            label:
              en_US: Turkmenistan
              ja_JP: Turkmenistan
              pt_BR: Turkmenistan
              zh_Hans: 土库曼斯坦
            value: turkmenistan
          - icon: ''
            label:
              en_US: Uganda
              ja_JP: Uganda
              pt_BR: Uganda
              zh_Hans: 乌干达
            value: uganda
          - icon: ''
            label:
              en_US: Ukraine
              ja_JP: Ukraine
              pt_BR: Ukraine
              zh_Hans: 乌克兰
            value: ukraine
          - icon: ''
            label:
              en_US: United Arab Emirates
              ja_JP: United Arab Emirates
              pt_BR: United Arab Emirates
              zh_Hans: 阿拉伯联合酋长国
            value: united arab emirates
          - icon: ''
            label:
              en_US: United Kingdom
              ja_JP: United Kingdom
              pt_BR: United Kingdom
              zh_Hans: 英国
            value: united kingdom
          - icon: ''
            label:
              en_US: United States
              ja_JP: United States
              pt_BR: United States
              zh_Hans: 美国
            value: united states
          - icon: ''
            label:
              en_US: Uruguay
              ja_JP: Uruguay
              pt_BR: Uruguay
              zh_Hans: 乌拉圭
            value: uruguay
          - icon: ''
            label:
              en_US: Uzbekistan
              ja_JP: Uzbekistan
              pt_BR: Uzbekistan
              zh_Hans: 乌兹别克斯坦
            value: uzbekistan
          - icon: ''
            label:
              en_US: Venezuela
              ja_JP: Venezuela
              pt_BR: Venezuela
              zh_Hans: 委内瑞拉
            value: venezuela
          - icon: ''
            label:
              en_US: Vietnam
              ja_JP: Vietnam
              pt_BR: Vietnam
              zh_Hans: 越南
            value: vietnam
          - icon: ''
            label:
              en_US: Yemen
              ja_JP: Yemen
              pt_BR: Yemen
              zh_Hans: 也门
            value: yemen
          - icon: ''
            label:
              en_US: Zambia
              ja_JP: Zambia
              pt_BR: Zambia
              zh_Hans: 赞比亚
            value: zambia
          - icon: ''
            label:
              en_US: Zimbabwe
              ja_JP: Zimbabwe
              pt_BR: Zimbabwe
              zh_Hans: 津巴布韦
            value: zimbabwe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically include in the
              search results.
            ja_JP: A comma-separated list of domains to specifically include in the
              search results.
            pt_BR: A comma-separated list of domains to specifically include in the
              search results.
            zh_Hans: 要在搜索结果中特别包含的域的逗号分隔列表。
          label:
            en_US: Include Domains
            ja_JP: Include Domains
            pt_BR: Include Domains
            zh_Hans: 包含域
          llm_description: A comma-separated list of domains to specifically include
            in the search results.
          max: null
          min: null
          name: include_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically exclude from
              the search results.
            ja_JP: A comma-separated list of domains to specifically exclude from
              the search results.
            pt_BR: A comma-separated list of domains to specifically exclude from
              the search results.
            zh_Hans: 要从搜索结果中特别排除的域的逗号分隔列表。
          label:
            en_US: Exclude Domains
            ja_JP: Exclude Domains
            pt_BR: Exclude Domains
            zh_Hans: 排除域
          llm_description: A comma-separated list of domains to specifically exclude
            from the search results.
          max: null
          min: null
          name: exclude_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            ja_JP: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            pt_BR: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            zh_Hans: 用于跟踪和分析目的的可选项目 ID。将作为 X-Project-ID 标头发送。
          label:
            en_US: Project ID
            ja_JP: Project ID
            pt_BR: Project ID
            zh_Hans: 项目 ID
          llm_description: Optional project ID for usage tracking and analytics.
          max: null
          min: null
          name: project_id
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          auto_parameters: ''
          chunks_per_source: ''
          country: ''
          end_date: ''
          exclude_domains: ''
          include_answer: ''
          include_domains: ''
          include_favicon: ''
          include_image_descriptions: ''
          include_images: ''
          include_raw_content: ''
          include_usage: ''
          max_results: ''
          project_id: ''
          query: ''
          search_depth: ''
          start_date: ''
          time_range: ''
          topic: ''
        plugin_id: langgenius/tavily
        plugin_unique_identifier: langgenius/tavily:0.1.10@b43f5dc49fbafc69949ee8231d600b23fb7586d514f4c72e470a86af03d2173d
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=a11d59b9-01de-4e6e-81ec-7462c2abdbf0&filename=87e9610216108c07bc947745c1df5715aa276dbaa90e5d60866102c549fb5452.png
        provider_id: langgenius/tavily/tavily
        provider_name: langgenius/tavily/tavily
        provider_type: builtin
        selected: false
        title: 网络检索 (1)
        tool_configurations:
          auto_parameters:
            type: constant
            value: false
          chunks_per_source:
            type: constant
            value: 3
          include_answer:
            type: constant
            value: false
          include_favicon:
            type: constant
            value: false
          include_image_descriptions:
            type: constant
            value: false
          include_images:
            type: constant
            value: false
          include_raw_content:
            type: constant
            value: false
          include_usage:
            type: constant
            value: false
          max_results:
            type: constant
            value: 5
          project_id:
            type: mixed
            value: null
        tool_description: 专为人工智能代理 (LLM) 构建的搜索引擎工具，可快速提供实时、准确和真实的结果。
        tool_label: Tavily Search
        tool_name: tavily_search
        tool_node_version: '2'
        tool_parameters:
          country:
            type: constant
            value: null
          end_date:
            type: mixed
            value: null
          exclude_domains:
            type: mixed
            value: null
          include_domains:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#17828880838200.text#}}'
          search_depth:
            type: constant
            value: basic
          start_date:
            type: mixed
            value: null
          time_range:
            type: constant
            value: not_specified
          topic:
            type: constant
            value: general
        type: tool
      height: 322
      id: '17828880838201'
      position:
        x: 2890.84275052977
        y: 424.7220722390661
      positionAbsolute:
        x: 2890.84275052977
        y: 424.7220722390661
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -3204.9531914178765
      y: -147.5522796592357
      zoom: 0.9726549611287775
  rag_pipeline_variables: []
